mixin urls(prefixHref, prefixImg, prefixImgFooter)         
    footer.footer     
        .footer__container 
            a.footer__logo-link(href="index.html")
                include ../../assets/svg-icons/footer-logo-mobile.svg
                img.footer__tablet-logo(src=prefixImgFooter + "dark-logo-tablet.png", alt="Погнали") 
                img.footer__desktop-logo(src=prefixImgFooter + "dark-logo-desktop.png", alt="Погнали")
                
            ul.footer__social-list 
                li.footer__social-item.footer__social-item--telegram 
                    a.footer__social-link(href="#")
                        include ../../assets/svg-icons/telegram-icon.svg
                li.footer__social-item.footer__social-item--vk
                    a.footer__social-link(href="#")
                        include ../../assets/svg-icons/vk-icon.svg
                li.footer__social-item.footer__social-item--whatsapp
                    a.footer__social-link(href="#")
                        include ../../assets/svg-icons/whatsapp-icon.svg
        
            a.footer__copyright-link(href="#")
                span.footer__copyright-text(href="#") Разработано
                span.footer__copyright-icon(href="#")
                    include ../../assets/svg-icons/ha-icon.svg  