.header-mobile-popup.visually-hidden
    .header-mobile-popup__container 
        .header-mobile-popup__logo-container 
            a.header-mobile-popup__logo-link(href="index.html") 
                include ../svg-icons/footer-logo-mobile.svg
                img.header-mobile-popup__logo-tablet(src="../../assets/img/dark-logo-tablet.png", alt="Погнали")
                
            a.header-mobile-popup__close-button(href="#") 
                include ../svg-icons/close-icon.svg
        
        ul.header-mobile-popup__nav-list
            li.header-mobile-popup__nav-item
                a.header-mobile-popup__nav-link(href="#") О сервисе 
            li.header-mobile-popup__nav-item
                a.header-mobile-popup__nav-link(href="#") Направления
            li.header-mobile-popup__nav-item
                a.header-mobile-popup__nav-link(href="#") Попутчики 
                
        a.header-mobile-popup__auth-button
            span.header-mobile-popup__auth-text Авторизация
            
        ul.header-mobile-popup__contacts-list
            li.header-mobile-popup__contacts-item.header-mobile-popup__contacts-item--phone
                a.header-mobile-popup__contacts-item-link
                    .header-mobile-popup__contacts-icon-container
                        include ../svg-icons/phone-icon.svg
                    span.header-mobile-popup__contacts-text 8 800 555-86-28
                        
            li.header-mobile-popup__contacts-item.header-mobile-popup__contacts-item--email
                a.header-mobile-popup__contacts-item-link
                    .header-mobile-popup__contacts-icon-container
                        include ../svg-icons/email-icon.svg
                    span.header-mobile-popup__contacts-text mail@htmlacademy.ru
                        
        ul.header-mobile-popup__social-list
            li.header-mobile-popup__social-item.header-mobile-popup__social-item--telegram
                a.header-mobile-popup__social-link(href="#")
                    include ../svg-icons/telegram-icon.svg 
            li.header-mobile-popup__social-item.header-mobile-popup__social-item--vk
                a.header-mobile-popup__social-link(href="#")
                    include ../svg-icons/vk-icon.svg 
            li.header-mobile-popup__social-item.header-mobile-popup__social-item--whatsapp
                a.header-mobile-popup__social-link(href="#")
                    include ../svg-icons/whatsapp-icon.svg 
                        
                