@use '../../global.scss';

.filter-countries {
  position: relative;
  z-index: 9;
  width: 320px;
  margin: -32px auto 0;
  padding: 52px 0 16px 0;
  border-radius: 0 0 18px 18px;
  background: global.$button-grey;

  @media (min-width: global.$tablet-width) {
    width: global.$tablet-width;
    margin: -72px auto 0;
    padding: 132px 0 56px 0;
    border-radius: 0 0 58px 58px;
  }

  @media (min-width: global.$desktop-width) {
    width: global.$desktop-width;
    padding: 130px 0 56px 0;
  }
}

.filter-countries__container {
  width: 270px;
  margin: 0 auto;

  @media (min-width: global.$tablet-width) {
    width: 622px;
  }

  @media (min-width: global.$desktop-width) {
    width: 1320px;
  }
}

.filter-countries__content-container-mobile {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: global.$tablet-width) {
    display: none;
  }
}

.filter-countries__content-container-tablet {
  display: none;

  @media (min-width: global.$tablet-width) {
    width: 688px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  @media (min-width: global.$desktop-width) {
    display: none;
  }
}

.filter-countries__mobile-filter-list {
  @media (min-width: global.$tablet-width) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.filter-countries__mobile-filter-item + .filter-countries__mobile-filter-item {
  @media (min-width: global.$tablet-width) {
    margin-left: 28px;
  }
}

.filter-countries__mobile-filter-item-link {
  @media (min-width: global.$tablet-width) {
    text-decoration: none;
    text-transform: uppercase;
    font-family: global.$bold;
    // color: global.$basic-blue-2;
    color: global.$basic-blue-2-transparent-2;
    font-style: normal;
    font-size: 20px;
  }
}

.filter-countries__mobile-filter-item-link--active {
  @media (min-width: global.$tablet-width) {
    color: global.$basic-blue-2;
  }
}

.filter-countries__filter-show-button {
  @media (min-width: global.$tablet-width) {
    margin-left: 72px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
  }
}

.filter-countries__show-text {
  @media (min-width: global.$tablet-width) {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: global.$bold;
    color: global.$basic-blue-2;
    font-style: normal;
    font-size: 20px;
  }
}

.filter-countries__filter-show-button svg {
  @media (min-width: global.$tablet-width) {
    margin-left: 25px;
    width: 30px;
    height: 6px;
  }
}

.filter-countries__filter-title {
  margin: 0 0 0 12px;
  padding: 0;
  font-family: global.$medium;
  font-style: normal;
  font-size: 16px;
  color: global.$basic-dark-blue;
  text-transform: uppercase;
}

.filter-countries__open-button {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 28px;
}

.filter-countries__content-container-desktop {
  display: none;

  @media (min-width: global.$desktop-width) {
    width: 1320px;
    margin: 0 0 0 19px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.filter-countries__desktop-filter-title-container {
  @media (min-width: global.$desktop-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
  }
}

.filter-countries__desktop-filter-text {
  @media (min-width: global.$desktop-width) {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: global.$bold;
    color: global.$basic-blue-2;
    font-style: normal;
    font-size: 20px;
    margin-left: 22px;
  }
}

.filter-countries__desktop-filter-list {
  @media (min-width: global.$desktop-width) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.filter-countries__desktop-filter-item {
  @media (min-width: global.$desktop-width) {
    margin-left: 32px;
  }
}

.filter-countries__desktop-filter-item-link {
  @media (min-width: global.$desktop-width) {
    text-decoration: none;
    text-transform: uppercase;
    font-family: global.$bold;
    // color: global.$basic-blue-2;
    color: global.$basic-blue-2-transparent-2;
    font-style: normal;
    font-size: 20px;
  }
}

.filter-countries__desktop-filter-item-link--active {
  @media (min-width: global.$desktop-width) {
    color: global.$basic-blue-2;
  }
}
