@use '../../global.scss';

.header-catalog {
  position: relative;
  z-index: 10;
  width: 320px;
  margin: 0 auto;
  padding: 20px 0 12px 0;
  border-radius: 0 0 18px 18px;
  background: global.$special-blue;

  @media (min-width: global.$tablet-width) {
    width: global.$tablet-width;
    padding: 42px 0 64px 0;
    border-radius: 0 0 58px 58px;
  }

  @media (min-width: global.$desktop-width) {
    width: global.$desktop-width;
    padding: 47px 0 64px 0;
  }
}

.header-catalog__container {
  width: 270px;
  margin: 0 auto;

  @media (min-width: global.$tablet-width) {
    width: 688px;
  }

  @media (min-width: global.$desktop-width) {
    width: 1320px;
  }
}

.header-catalog__nav-container {
  width: 270px;
  margin: 0 auto 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: global.$tablet-width) {
    width: 688px;
    margin: 0 auto 125px;
  }

  @media (min-width: global.$desktop-width) {
    width: 1320px;
    justify-content: flex-start;
    margin: 0 auto 116px;
  }
}

.header-catalog__logo-link:hover {
  opacity: 0.7;
}

.header-catalog__logo-link:active {
  opacity: 0.3;
}

.header-catalog__logo-link svg {
  @media (min-width: global.$tablet-width) {
    display: none;
  }
}

.header-catalog__tablet-logo {
  display: none;

  @media (min-width: global.$tablet-width) {
    display: block;
    margin-top: 4px;
  }

  @media (min-width: global.$desktop-width) {
    display: none;
  }
}

.header-catalog__desktop-logo {
  display: none;

  @media (min-width: global.$desktop-width) {
    display: block;
  }
}

.header-catalog__open-button {
  @media (min-width: global.$tablet-width) {
    margin-left: 166px;
  }

  @media (min-width: global.$desktop-width) {
    display: none;
  }
}

.header-catalog__site-nav-list {
  display: none;

  @media (min-width: global.$desktop-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 144px;
    position: relative;
  }
}

.header-catalog__site-nav-list::before {
  @media (min-width: global.$desktop-width) {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    top: 50%;
    left: -104px;
    background: global.$basic-white;
  }
}

.header-catalog__site-nav-item + .header-catalog__site-nav-item {
  @media (min-width: global.$desktop-width) {
    margin-left: 35px;
  }
}

.header-catalog__site-nav-link {
  @media (min-width: global.$desktop-width) {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: global.$basic-white;
    font-family: global.$medium;
    font-style: normal;
    font-size: 20px;
  }
}

.header-catalog__site-nav-link:hover {
  color: global.$basic-yellow;
}

.header-catalog__site-nav-link:active {
  color: global.$basic-yellow;
  opacity: 0.2;
}

.header-catalog__nav-menu-list {
  display: none;

  @media (min-width: global.$tablet-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 288px;
    margin-left: 142px;
  }

  @media (min-width: global.$desktop-width) {
    margin-left: 295px;
  }
}

.header-catalog__nav-menu-item--phone {
  display: none;

  @media (min-width: global.$desktop-width) {
    display: block;
  }
}

.header-catalog__nav-link--phone {
  display: none;

  @media (min-width: global.$desktop-width) {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: global.$special-orange;
  }
}

.header-catalog__nav-link--phone:hover {
  background: global.$special-dark-orange;
}

.header-catalog__nav-link--phone:active {
  background: global.$special-dark-orange;
}

.header-catalog__nav-link:active svg {
  opacity: 0.3;
}

.header-catalog__nav-link:active span {
  opacity: 0.3;
}

.header-catalog__nav-link--email:hover {
  background: global.$special-orange;
}

.header-catalog__nav-link--email:active {
  background: global.$special-orange;
}

.header-catalog__nav-link--authorization:hover {
  background: global.$special-dark-yellow;
}

.header-catalog__nav-link--authorization:active {
  background: global.$special-dark-yellow;
}

.header-catalog__nav-menu-item--email {
  display: none;

  @media (min-width: global.$desktop-width) {
    display: block;
  }
}

.header-catalog__nav-link--email {
  display: none;

  @media (min-width: global.$desktop-width) {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: global.$basic-yellow;
  }
}

.header-catalog__nav-menu-item--authorization {
  display: none;

  @media (min-width: global.$tablet-width) {
    display: block;
  }
}

.header-catalog__nav-link--authorization {
  @media (min-width: global.$tablet-width) {
    width: 188px;
    padding: 12px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: global.$bold;
    font-style: normal;
    font-size: 20px;
    color: global.$basic-blue;
    background: global.$basic-yellow;
  }
}

.header-catalog__title-content-container {
  @media (min-width: global.$tablet-width) {
    display: flex;
    justify-content: flex-start;
    width: 688px;
  }

  @media (min-width: global.$desktop-width) {
    width: 1188px;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.header-catalog__title {
  position: relative;
  font-family: global.$medium;
  font-style: normal;
  font-size: 36px;
  letter-spacing: 1px;
  color: global.$basic-white;
  margin: 0;
  padding: 0;

  @media (min-width: global.$tablet-width) {
    font-size: 60px;
    margin: 0 0 0 35px;
  }

  @media (min-width: global.$desktop-width) {
    margin: 0;
  }
}

.header-catalog__title::after {
  position: absolute;
  content: '';
  width: 173px;
  height: 5px;
  border-radius: 3px;
  top: 52px;
  left: 0;
  background: global.$special-orange;

  @media (min-width: global.$tablet-width) {
    width: 288px;
    height: 8px;
    top: 131px;
  }
}

.header-catalog__title-return-button-container {
  display: none;

  @media (min-width: global.$tablet-width) {
    display: flex;
    margin-top: 25px;
    margin-left: 162px;
    text-decoration: none;
  }
}

.header-catalog__title-return-button-container:hover {
  opacity: 0.7;
}

.header-catalog__title-return-button-container:active {
  opacity: 0.3;
}

.header-catalog__return-text {
  display: none;

  @media (min-width: global.$tablet-width) {
    display: block;
    color: global.$basic-white;
    font-family: global.$bold;
    font-style: normal;
    font-size: 20px;
    text-transform: uppercase;
  }
}

.header-catalog__title-return-button-container svg {
  @media (min-width: global.$tablet-width) {
    margin-top: 4px;
    margin-left: 28px;
  }
}
