@use '../../global.scss';

.travellers {
  width: 320px;
  margin: 0 auto;
  background: global.$basic-grey-2;

  @media (min-width: global.$tablet-width) {
    width: global.$tablet-width;
  }

  @media (min-width: global.$desktop-width) {
    order: 1;
    margin: 0;
    width: 950px;
  }
}

.travellers__container {
  width: 270px;
  margin: 0 auto;

  @media (min-width: global.$tablet-width) {
    width: 688px;
  }

  @media (min-width: global.$desktop-width) {
    width: 950px;
  }
}

.travellers__list {
  margin: 0 0 25px 0;
  padding: 0;
  list-style: none;

  @media (min-width: global.$tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: global.$desktop-width) {
    margin-bottom: 60px;
  }
}

.travellers__item + .travellers__item {
  margin-top: 10px;

  @media (min-width: global.$tablet-width) {
    margin-top: 40px;
  }

  @media (min-width: global.$desktop-width) {
    margin-top: 32px;
  }
}

.travellers__show-more-button {
  margin: 0 auto 26px;
  width: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  @media (min-width: global.$tablet-width) {
    width: 186px;
    margin-bottom: 50px;
    margin: 0 0 70px 346px;
  }
}

.travellers__show-more-button:hover {
  opacity: 0.7;
}

.travellers__show-more-button:active {
  opacity: 0.3;
}

.travellers__show-more-button svg {
  @media (min-width: global.$tablet-width) {
    width: 26px;
    height: 26px;
  }
}

.travellers__show-more-text {
  display: inline-block;
  text-transform: uppercase;
  font-family: global.$bold;
  font-style: normal;
  font-size: 17px;
  color: global.$basic-blue-2;

  @media (min-width: global.$tablet-width) {
    font-size: 20px;
  }
}

.travellers__pagination-numbers-list {
  display: none;

  @media (min-width: global.$tablet-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 688px;
    border-radius: 25px;
    box-sizing: border-box;
    background: global.$basic-white;
    padding: 26px 28px;
  }

  @media (min-width: global.$desktop-width) {
    width: 950px;
  }
}

.travellers__pagination-numbers-link {
  @media (min-width: global.$tablet-width) {
    text-decoration: none;
    font-family: global.$bold;
    font-style: normal;
    font-size: 20px;
    color: global.$basic-blue-2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }
}

.travellers__pagination-numbers-link:hover {
  opacity: 0.7;
}

.travellers__pagination-numbers-link:active {
  opacity: 0.3;
}

.travellers__pagination-numbers-link--active {
  @media (min-width: global.$tablet-width) {
    border-radius: 50%;
    background: global.$basic-yellow;
  }
}

.travellers__pagination-numbers-item--prev {
  @media (min-width: global.$tablet-width) {
    margin-left: 370px;
  }

  @media (min-width: global.$desktop-width) {
    margin-left: 624px;
  }
}

.travellers__pagination-numbers-item--next {
  @media (min-width: global.$tablet-width) {
    margin-left: 30px;
  }

  @media (min-width: global.$desktop-width) {
    margin-left: 36px;
  }
}

.travellers__pagination-tablet-next-button svg {
  @media (min-width: global.$tablet-width) {
    transform: rotate(180deg);
  }
}

.travellers__pagination-buttons-container {
  width: 270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: global.$tablet-width) {
    display: none;
  }
}

.travellers__pagination-prev-button {
  width: 135px;
  padding: 16px 0 14px;
  border: none;
  border-radius: 22px 0 0 22px;
  border-right: 1px solid global.$basic-grey-2;
  background: global.$basic-white;
}

.travellers__pagination-next-button {
  width: 135px;
  padding: 16px 0 14px;
  border: none;
  border-radius: 0 22px 22px 0;
  background: global.$basic-white;
}

.travellers__pagination-next-button svg {
  transform: rotate(180deg);
}

.travellers__pagination-tablet-prev-button:hover,
.travellers__pagination-tablet-next-button:hover {
  opacity: 0.7;
}

.travellers__pagination-tablet-prev-button:active,
.travellers__pagination-tablet-next-button:active {
  opacity: 0.3;
}
