.countries-popup-desktop 
    .countries-popup-desktop__container 
        ul.countries-popup-desktop__list 
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter А
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Австралия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Австрия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Азербайджан
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Албания
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Алжир
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Ангола
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Андорра
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Антигуа и Барбуда
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Аргентина
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Армения
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Афганистан
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Б
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Багамские Острова
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Бангладеш
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Барбадос
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Бахрейн
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Белоруссия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Белиз
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Бельгия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Бенин
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Болгария
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Боливия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Босния и Герцеговина
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Ботсвана
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Бразилия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Бруней
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Буркина-Фасо
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Бурунди
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Бутан
                            
            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter В
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Вануату
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Великобритания
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Венгрия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Венесуэла
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Восточный Тимор
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Вьетнам
              
              
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Г
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Габон
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Гаити
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Гайана
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Гамбия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Гана
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Гватемала
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Гвинея
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Гвинея-Бисау
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Германия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Гондурас
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Гренада
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Греция
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Грузия
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Д
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Дания
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Джибути
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Доминика
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Доминикана
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Е
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Египет
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter З
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Замбия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Зимбабве
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter И
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Израиль
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Индия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Индонезия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Иордания
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Ирак
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Иран
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Ирландия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Исландия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Испания
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Италия
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter К
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Кабо-Верде
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Казахстан
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Камбоджа
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Камерун
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Канада
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Катар
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Кения
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Кипр
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Киргизия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Кирибати  
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Китай
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Колумбия
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Л
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Лаос
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Латвия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Лесото
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Либерия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Ливан
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Ливия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Литва
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Лихтеншейн
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Люксембург
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter М
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Маврикий
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Мавритания
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Мадагаскар
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Малави
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Малайзия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Мали
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Мальдивы
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Мальта
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Марокко
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Н
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Намибия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Науру
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Непал
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Нигер
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Нигерия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Нидерланды
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Никарагуа
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Новая Зеландия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Норвегия
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter О
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") ОАЭ
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Оман
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter П
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Пакистан
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Палау
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Панама
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Папуа - Новая Гвинея
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Парагвай
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Перу
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Польша
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Португалия
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Р
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Руанда
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Румыния
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Россия
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter С
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Сальвадор
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Самоа
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Сан-Марино
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Саудовская Аравия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Сейшелы
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Сенегал
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Сербия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Сингапур
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Сирия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Словакия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Словения
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") США
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Т
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Таджикистан
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Таиланд
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Танзания
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Того
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Тонга
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Тринидад и Тобаго
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Тувалу
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Тунис
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Туркмения
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Турция
                            
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter У
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Уганда
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Узбекинстан
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Украина
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Уругвай
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Ф
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Фиджи
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Филиппины
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Финляндия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Франция
            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Х
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Хорватия
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Ч
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Чад
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Черногория
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Чехия
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Чили
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Ш
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Швейцария
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Швеция
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Шри Ланка
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Э
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Эквадор
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Эритрея
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Эсватини
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Эстония
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Эфиопия
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Э
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") ЮАР
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Южный Судан

            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Я
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Ямайка
                        li.countries-popup-desktop__letter-item 
                            a.countries-popup-desktop__letter-item-text(href="#") Япония
                            
    a.countries-popup-desktop__hide-button(href="#")
        .countries-popup-desktop__hide-button-container 
            include ../../../assets/svg-icons/catalog-close-icon.svg
            span.countries-popup-desktop__hide-text Свернуть