.countries-popup-mobile 
            .countries-popup-mobile__container 
                ul.countries-popup-mobile__buttons-list
                    li.countries-popup-mobile__buttons-item         
                        a.countries-popup-mobile__button(href="#") Европа
                    li.countries-popup-mobile__buttons-item         
                        a.countries-popup-mobile__button(href="#") Азия
                    li.countries-popup-mobile__buttons-item         
                        a.countries-popup-mobile__button(href="#") Америка
                    li.countries-popup-mobile__buttons-item         
                        a.countries-popup-mobile__button(href="#") Острова
                        
                        
                .countries-popup-mobile__table-container        
                    table.countries-popup-mobile__table-letter-buttons
                        td 
                            tr 
                                a.countries-popup-mobile__table-letter-button.filter-countries-popup-mobile__table-letter-button--active(href="#") А
                            tr 
                                a.countries-popup-mobile__table-letter-button(href="#") Б
                            tr
                                a.countries-popup-mobile__table-letter-button(href="#") В
                            tr 
                                a.countries-popup-mobile__table-letter-button(href="#") Г
                            tr 
                                a.countries-popup-mobile__table-letter-button(href="#") Д
                        td 
                            tr 
                                a.countries-popup-mobile__table-letter-button(href="#") Е
                            tr 
                                a.countries-popup-mobile__table-letter-button(href="#") З
                            tr
                                a.countries-popup-mobile__table-letter-button(href="#") И
                            tr 
                                a.countries-popup-mobile__table-letter-button(href="#") К
                            tr 
                                a.countries-popup-mobile__table-letter-button(href="#") Л
                        td 
                            tr 
                                a.countries-popup-mobile__table-letter-button(href="#") М
                            tr 
                                a.countries-popup-mobile__table-letter-button(href="#") Н
                            tr
                                a.countries-popup-mobile__table-letter-button(href="#") О
                            tr 
                                a.countries-popup-mobile__table-letter-button(href="#") П
                            tr 
                                a.countries-popup-mobile__table-letter-button(href="#") Р
                        td 
                            tr 
                                a.countries-popup-mobile__table-letter-button(href="#") С
                            tr 
                                a.countries-popup-mobile__table-letter-button(href="#") Т
                            tr
                                a.countries-popup-mobile__table-letter-button(href="#") У
                            tr 
                                a.countries-popup-mobile__table-letter-button(href="#") Ф
                            tr 
                                a.countries-popup-mobile__table-letter-button(href="#") Х
                        td 
                            tr 
                                a.countries-popup-mobile__table-letter-button(href="#") Ч
                            tr 
                                a.countries-popup-mobile__table-letter-button(href="#") Ш
                            tr
                                a.countries-popup-mobile__table-letter-button(href="#") Э
                            tr 
                                a.countries-popup-mobile__table-letter-button(href="#") Ю
                            tr 
                                a.countries-popup-mobile__table-letter-button(href="#") Я
                                
                
                ul.filter-countries-popup__countries-list 
                    li.filter-countries-popup__country-item 
                        a.filter-countries-popup__country-link(href="#") Австралия
                    li.filter-countries-popup__country-item 
                        a.filter-countries-popup__country-link(href="#") Австрия
                    li.filter-countries-popup__country-item 
                        a.filter-countries-popup__country-link(href="#") Азербайджан                
                    li.filter-countries-popup__country-item 
                        a.filter-countries-popup__country-link(href="#") Албания 
                    li.filter-countries-popup__country-item 
                        a.filter-countries-popup__country-link(href="#") Алжир 
                    li.filter-countries-popup__country-item 
                        a.filter-countries-popup__country-link(href="#") Ангола 
                    li.filter-countries-popup__country-item 
                        a.filter-countries-popup__country-link(href="#") Андорра 
                    li.filter-countries-popup__country-item 
                        a.filter-countries-popup__country-link(href="#") Антигуа и Барбуда 
                    li.filter-countries-popup__country-item 
                        a.filter-countries-popup__country-link(href="#") Аргентина
                    li.filter-countries-popup__country-item 
                        a.filter-countries-popup__country-link(href="#") Армения 
                    li.filter-countries-popup__country-item 
                        a.filter-countries-popup__country-link(href="#") Афганистан  
                
                a.filter-countries-popup__close-button(href="#")
                    img.filter-countries-popup__close-icon(src="#", alt="Свернуть")
                    span.filter-countries-popup__clost-text Свернуть   
                                         
            