.countries-popup-desktop 
    .countries-popup-desktop__container 
        ul.countries-popup-desktop__list 
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter А
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Австралия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Австрия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Азербайджан
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Албания
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Алжир
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Ангола
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Андорра
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Антигуа и Барбуда
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Аргентина
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Армения
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Афганистан
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Б
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Багамские Острова
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Бангладеш
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Барбадос
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Бахрейн
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Белоруссия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Белиз
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Бельгия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Бенин
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Болгария
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Боливия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Босния и Герцеговина
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Ботсвана
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Бразилия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Бруней
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Буркина-Фасо
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Бурунди
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Бутан
                            
            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter В
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Вануату
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Великобритания
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Венгрия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Венесуэла
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Восточный Тимор
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Вьетнам
              
              
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Г
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Габон
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Гаити
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Гайана
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Гамбия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Гана
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Гватемала
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Гвинея
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Гвинея-Бисау
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Германия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Гондурас
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Гренада
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Греция
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Грузия
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Д
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Дания
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Джибути
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Доминика
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Доминикана
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Е
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Египет
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter З
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Замбия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Зимбабве
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter И
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Израиль
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Индия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Индонезия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Иордания
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Ирак
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Иран
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Ирландия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Исландия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Испания
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Италия
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter К
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Кабо-Верде
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Казахстан
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Камбоджа
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Камерун
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Канада
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Катар
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Кения
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Кипр
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Киргизия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Кирибати  
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Китай
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Колумбия
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Л
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Лаос
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Латвия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Лесото
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Либерия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Ливан
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Ливия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Литва
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Лихтеншейн
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Люксембург
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter М
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Маврикий
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Мавритания
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Мадагаскар
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Малави
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Малайзия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Мали
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Мальдивы
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Мальта
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Марокко
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Н
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Намибия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Науру
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Непал
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Нигер
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Нигерия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Нидерланды
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Никарагуа
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Новая Зеландия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Норвегия
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter О
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text ОАЭ
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Оман
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter П
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Пакистан
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Палау
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Панама
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Папуа - Новая Гвинея
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Парагвай
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Перу
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Польша
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Португалия
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Р
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Руанда
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Румыния
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Россия
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter С
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Сальвадор
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Самоа
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Сан-Марино
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Саудовская Аравия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Сейшелы
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Сенегал
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Сербия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Сингапур
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Сирия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Словакия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Словения
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text США
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Т
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Таджикистан
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Таиланд
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Танзания
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Того
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Тонга
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Тринидад и Тобаго
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Тувалу
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Тунис
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Туркмения
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Турция
                            
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter У
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Уганда
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Узбекинстан
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Украина
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Уругвай
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Ф
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Фиджи
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Филиппины
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Финляндия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Франция
            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Х
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Хорватия
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Ч
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Чад
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Черногория
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Чехия
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Чили
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Ш
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Швейцария
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Швеция
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Шри Ланка
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Э
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Эквадор
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Эритрея
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Эсватини
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Эстония
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Эфиопия
                            
            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Э
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text ЮАР
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Южный Судан

            li.countries-popup-desktop__item 
                fieldset.countries-popup-desktop__fieldset
                    label.countries-popup-desktop__label-letter Я
                    ul.countries-popup-desktop__letter-list 
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Ямайка
                        li.countries-popup-desktop__letter-item 
                            span.countries-popup-desktop__letter-item-text Япония
                            
    a.countries-popup-desktop__hide-button
        .countries-popup-desktop__hide-button-container 
            include ../../../assets/svg-icons/catalog-close-icon.svg
            span.countries-popup-desktop__hide-text Свернуть