section.filter-travellers 
    h2.visually-hidden Фильтрация по попутчикам
    .filter-travellers__container 
        form.filter-travellers-form(action="#") 
            .filter-travellers-form__container
                h3.filter-travelerers-form__title Подберите идеального попутчика
                
                fieldset.filter-travellers__form-fieldset.filter-travellers__form-fieldset--first 
                    .filter-travellers__fieldset-title-container 
                        label.filter-travellers__fieldset-title Хобби 
                        span.filter-travellers__fieldset-title-colon-tablet :
                        a.filter-travellers__fieldset-open-button(href="#")
                            include ../../../assets/svg-icons/icon-catalog-open-mobile.svg   
                              
                    ul.filter-travellers__options-list.filter-travellers__options-list--visually-hidden-mobile              
                        li.filter-travellers__options-item 
                            label.filter-travellers__options-label(for="sport") 
                                input.filter-travellers__options-input.visually-hidden(type="checkbox", id="sport", name='sport')
                                .filter-travellers__options-custom-input 
                                span.filter-travellers__options-input-text Спортзал
                        li.filter-travellers__options-item 
                            label.filter-travellers__options-label(for="hookah") 
                                input.filter-travellers__options-input.visually-hidden(type="checkbox", id="hookah", name='hookah')
                                .filter-travellers__options-custom-input 
                                span.filter-travellers__options-input-text Кальян
                        li.filter-travellers__options-item 
                            label.filter-travellers__options-label(for="sofa")
                                input.filter-travellers__options-input.visually-hidden(type="checkbox", id="sofa", name='sofa')
                                .filter-travellers__options-custom-input 
                                span.filter-travellers__options-input-text Диван
                            
                
                fieldset.filter-travellers__form-fieldset.filter-travellers__form-fieldset--opened
                    .filter-travellers__fieldset-title-container.filter-travellers__fieldset-title-container--opened
                        label.filter-travellers__fieldset-title Музыка
                        span.filter-travellers__fieldset-title-colon-tablet :
                        a.filter-travellers__fieldset-open-button.filter-travellers__fieldset-open-button--opened(href="#")
                            include ../../../assets/svg-icons/icon-catalog-open-mobile.svg 

                    ul.filter-travellers__options-list 
                        li.filter-travellers__options-item 
                            label.filter-travellers__options-label(for="hard-rock") 
                                input.filter-travellers__options-input.visually-hidden(type="checkbox", id="hard-rock", name='hard-rock')
                                .filter-travellers__options-custom-input 
                                span.filter-travellers__options-input-text Тяжелый рок
                        li.filter-travellers__options-item 
                            label.filter-travellers__options-label(for="russian-rap") 
                                input.filter-travellers__options-input.visually-hidden(type="checkbox", id="russian-rap", name='russian-rap')
                                .filter-travellers__options-custom-input 
                                span.filter-travellers__options-input-text Русский рэп
                        li.filter-travellers__options-item 
                            label.filter-travellers__options-label(for="eurodance")
                                input.filter-travellers__options-input.visually-hidden(type="checkbox", id="eurodance", name='eurodance')
                                .filter-travellers__options-custom-input 
                                span.filter-travellers__options-input-text Евроденс
                            
                fieldset.filter-travellers__form-fieldset 
                    .filter-travellers__fieldset-title-container
                        label.filter-travellers__fieldset-title Еда
                        span.filter-travellers__fieldset-title-colon-tablet :
                        a.filter-travellers__fieldset-open-button(href="#")
                            include ../../../assets/svg-icons/icon-catalog-open-mobile.svg 
                    
                    ul.filter-travellers__options-list.filter-travellers__options-list--visually-hidden-mobile     
                        li.filter-travellers__options-item 
                            label.filter-travellers__options-label(for="meat") 
                                input.filter-travellers__options-input.visually-hidden(type="checkbox", id="meat", name='meat')
                                .filter-travellers__options-custom-input 
                                span.filter-travellers__options-input-text Мясоед
                        li.filter-travellers__options-item 
                            label.filter-travellers__options-label(for="pp") 
                                input.filter-travellers__options-input.visually-hidden(type="checkbox", id="pp", name='pp')
                                .filter-travellers__options-custom-input 
                                span.filter-travellers__options-input-text Сидит на ПП
                        li.filter-travellers__options-item 
                            label.filter-travellers__options-label(for="vegan")
                                input.filter-travellers__options-input.visually-hidden(type="checkbox", id="vegan", name='vegan')
                                .filter-travellers__options-custom-input 
                                span.filter-travellers__options-input-text Веган-сыроед
                            
                fieldset.filter-travellers__form-fieldset.filter-travellers__form-fieldset--transport 
                    .filter-travellers__fieldset-transport-title-container
                        label.filter-travellers__fieldset-title Транспорт
                        span.filter-travellers__fieldset-title-colon-tablet :
                        a.filter-travellers__fieldset-open-button(href="#")
                            include ../../../assets/svg-icons/icon-catalog-open-mobile.svg 
                     
                    ul.filter-travellers__transport-options-list 
                        li.filter-travellers__transport-options-item 
                            label.filter-travellers__options-label(for="transport-plane") 
                            input.filter-travellers__options-input-transport.visually-hidden(type="checkbox", id="transport-plane", name="transport-plane")
                            .filter-travellers__options-custom-input-transport
                                include ../../../assets/svg-icons/plane-icon.svg 
                        li.filter-travellers__transport-options-item 
                            label.filter-travellers__options-label(for="transport-bus") 
                            input.filter-travellers__options-input-transport.visually-hidden(type="checkbox", id="transport-bus", name="transport-bus")
                            .filter-travellers__options-custom-input-transport
                                include ../../../assets/svg-icons/bus-icon.svg 
                        li.filter-travellers__transport-options-item 
                            label.filter-travellers__options-label(for="transport-bicycle") 
                            input.filter-travellers__options-input-transport.visually-hidden(type="checkbox", id="transport-bicycle", name="transport-bicycle")
                            .filter-travellers__options-custom-input-transport
                                include ../../../assets/svg-icons/bicycle-icon.svg
                        li.filter-travellers__transport-options-item 
                            label.filter-travellers__options-label(for="transport-run") 
                            input.filter-travellers__options-input-transport.visually-hidden(type="checkbox", id="transport-run", name="transport-run")
                            .filter-travellers__options-custom-input-transport
                                include ../../../assets/svg-icons/run-icon.svg
                                
                fieldset.filter-travellers__form-fieldset.filter-travellers__form-fieldset--level 
                    .filter-travellers__fieldset-level-title-container
                        label.filter-travellers__fieldset-title Левел
                        span.filter-travellers__fieldset-title-colon-tablet :
                        a.filter-travellers__fieldset-open-button(href="#")
                            include ../../../assets/svg-icons/icon-catalog-open-mobile.svg 
                            
                    .filter-travellers__fieldset-slider-numbers-container 
                        .filter-travellers__fieldset-numbers-container 
                            input.filter-travellers__filters-min-input(type="text", placeholder="30")
                            input.filter-travellers__filters-max-input(type="text", placeholder="100")    
                                
                        .filter-travellers__fieldset-slider-container 
                            .filter-travellers__slider-bg-line 
                            .filter-travellers__slider-front-line 
                            .filter-travellers__slider-min-handler 
                            .filter-travellers__slider-max-handler
                
            button.filter-travellers__show-button(type="submit") 
                span.filter-travellers__show-text Показать                      