mixin urls(prefixHref, prefixImg, prefixImgFooter)
    .header-catalog     
        .header-catalog__container 
            .header-catalog__nav-container 
                a.header-catalog__logo-link(href=prefixHref + "index.html")
                    include ../../../assets/svg-icons/logo-mobile.svg  
                    img.header-catalog__tablet-logo(src="../../../assets/img/logo-tablet.png", alt="Погнали", width="166", height="42") 
                    img.header-catalog__desktop-logo(src="../../assets/img/logo-desktop.png", alt="Погнали", width="200", height="52")
                    
                a.header-catalog__open-button(href="#")  
                    include ../../../assets/svg-icons/hamburger-icon.svg  
                    
                ul.header-catalog__site-nav-list
                    li.header-catalog__site-nav-item 
                        a.header-catalog__site-nav-link(href=prefixHref + "index.html")  О сервисе
                    li.header-catalog__site-nav-item 
                        a.header-catalog__site-nav-link(href=prefixHref + "routes.html")  Направления
                    li.header-catalog__site-nav-item 
                        a.header-catalog__site-nav-link(href=prefixHref + "catalog.html") Попутчики
                        
                ul.header-catalog__nav-menu-list
                    li.header-catalog__nav-menu-item.header-catalog__nav-menu-item--phone 
                        a.header-catalog__nav-link.header-catalog__nav-link--phone(href="#")
                            include ../../../assets/svg-icons/call-icon.svg
                    li.header-catalog__nav-menu-item.header-catalog__nav-menu-item--email       
                        a.header-catalog__nav-link.header-catalog__nav-link--email(href="#")
                            include ../../../assets/svg-icons/mail-icon.svg  
                    li.header-catalog__nav-menu-item.header-catalog__nav-menu-item--authorization 
                        a.header-catalog__nav-link.header-catalog__nav-link--authorization(href="#") 
                            span Авторизация
                        
            .header-catalog__title-content-container 
                h1.header-catalog__title Попутчики
                
                a.header-catalog__title-return-button-container(href="#")
                    span.header-catalog__return-text На главную
                    include ../../../assets/svg-icons/catalog-return-icon.svg 
                
            