-
    const FIRSOVA_COUNTRIES = [
        {src: '../../assets/img/sri-lanka-flag.png', title: 'Шри-Ланка'},
        {src: '../../assets/img/thailand-flag.png', title: 'Таиланд'},
        {src: '../../assets/img/seychelles-flag.png', title: 'Сейшелы'},
    ];
    
    const FIRSOVA_TAGS = [
        "#ЗОЖ", "#ПП", "#Фитнес", "#пляж", "#авокадо", "#смузи"
    ];
    
    const DEMIN_COUNTRIES = [
        {src: '../../assets/img/belgium-flag.png', title: 'Бельгия'},
        {src: '../../assets/img/czech-flag.png', title: 'Чехия'},
    ];
    
    const DEMIN_TAGS = [
        "#бургер", "#бар", "#футбол", "#концерт", "#крафт"
    ];
    
    const SMOLOV_COUNTRIES = [
        {src: '../../assets/img/usa-flag.png', title: 'США'},
        {src: '../../assets/img/australia-flag.png', title: 'Австралия'},
        {src: '../../assets/img/dominica-flag.png', title: 'Доминика'},
    ];
    
    const SMOLOV_TAGS = [
        "#рэп", "#тату", "#хайпбист", "#кроссовки", "#суприм"
    ];
    
    const ROGOVAYA_COUNTRIES = [
        {src: '../../assets/img/uk-flag.png', title: 'Великобритания'},
        {src: '../../assets/img/germany-flag.png', title: 'Германия'},
    ];
    
    const ROGOVAYA_TAGS = [
        "#образование", "#карьера", "#учеба", "#офис"
    ];

section.travellers 
    h2.visually-hidden Попутчики
    .travellers__container 
        ul.travellers__list 
            li.travellers__item 
                include ./_traveller.pug
                +traveller("../../assets/img/firsova-catalog-mobile.png", "../../assets/img/firsova-catalog-tablet.png", "../../assets/img/firsova-catalog-desktop.png", "Таня Фирсова", '1,5 м', FIRSOVA_TAGS, FIRSOVA_COUNTRIES, '99')
            li.travellers__item 
                include ./_traveller.pug
                +traveller("../../assets/img/demin-catalog-mobile.png", "../../assets/img/demin-catalog-tablet.png", "../../assets/img/demin-catalog-desktop.png", "Петя Демин", '1500', DEMIN_TAGS, DEMIN_COUNTRIES, '80')
            li.travellers__item 
                include ./_traveller.pug
                +traveller("../../assets/img/smolov-catalog-mobile.png", "../../assets/img/smolov-catalog-tablet.png", "../../assets/img/smolov-catalog-desktop.png", "Марк Смолов", '170', SMOLOV_TAGS, SMOLOV_COUNTRIES, '25')
            li.travellers__item 
                include ./_traveller.pug
                +traveller("../../assets/img/rogovaya-catalog-mobile.png", "../../assets/img/rogovaya-catalog-tablet.png", "../../assets/img/rogovaya-catalog-desktop.png", "Лариса Роговая", '23', ROGOVAYA_TAGS, ROGOVAYA_COUNTRIES, '50')
                
        a.travellers__show-more-button 
            include ../../svg-icons/show-more-plus-icon.svg 
            span.travellers__show-more-text Показать еще
            
        .travellers__pagination-container 
            ul.travellers__pagination-numbers-list
                li.travellers__pagination-numbers-item   
                    a.travellers__pagination-numbers-link.travellers__pagination-numbers-link--active(href="#") 1 
                li.travellers__pagination-numbers-item   
                    a.travellers__pagination-numbers-link(href="#") 2 
                li.travellers__pagination-numbers-item   
                    a.travellers__pagination-numbers-link(href="#") 3 
                li.travellers__pagination-numbers-item   
                    a.travellers__pagination-numbers-link(href="#") 4 
                li.travellers__pagination-numbers-item.travellers__pagination-numbers-item--prev 
                    a.travellers__pagination-tablet-prev-button(href="#")
                        include ../../svg-icons/pagination-triangle-icon.svg
                li.travellers__pagination-numbers-item.travellers__pagination-numbers-item--next 
                    a.travellers__pagination-tablet-next-button(href="#")
                        include ../../svg-icons/pagination-triangle-icon.svg
        
            .travellers__pagination-buttons-container 
                button.travellers__pagination-prev-button
                    include ../../svg-icons/triangle-catalog-icon.svg 
                button.travellers__pagination-next-button 
                    include ../../svg-icons/triangle-catalog-icon.svg 
        