@use '../global.scss';

.business-rates {
  position: absolute;
  width: 270px;
  top: 45px;
  left: 50%;
  transform: translate(-50%, 0);
  background: global.$basic-white;
  box-shadow: 0 2px 8px 0 global.$basic-blue-2-transparent;
  border-radius: 20px;
  padding-top: 29px;

  @media (min-width: global.$tablet-width) {
    width: 688px;
    top: 60px;
    padding-top: 47px;
    box-shadow: 0 4px 22px 0 global.$basic-blue-2-transparent;
  }

  @media (min-width: global.$desktop-width) {
    width: 750px;
    top: 160px;
  }
}

.business-rates__container {
  width: 219px;
  margin: 0 auto;

  @media (min-width: global.$tablet-width) {
    width: 506px;
  }

  @media (min-width: global.$desktop-width) {
    width: 630px;
  }
}

.business-rates__title {
  margin: 0 auto 27px;
  padding: 0;
  font-family: global.$bold;
  font-style: normal;
  font-size: 24px;
  color: global.$special-orange;
  text-align: center;

  @media (min-width: global.$tablet-width) {
    font-size: 45px;
    margin: 0 auto 47px;
  }
}

.business-rates__list {
  width: 219px;
  margin: 0 auto 34px;

  @media (min-width: global.$tablet-width) {
    width: 506px;
    margin: 0 auto 50px;
  }

  @media (min-width: global.$desktop-width) {
    width: 630px;
  }
}

.business-rates__item {
  padding: 10px 0 11px;
  border-top: 1px solid global.$basic-black-transparent-2;

  @media (min-width: global.$tablet-width) {
    width: 506px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 16px;
  }

  @media (min-width: global.$desktop-width) {
    width: 630px;
  }
}

.business-rates__item:last-child {
  border-bottom: 1px solid global.$basic-black-transparent-2;
}

.business-rates__item-offer,
.business-rates__item-price {
  margin: 0;
  padding: 0;
  font-family: global.$light;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: global.$tablet-width) {
    font-size: 22px;
    line-height: 28px;
  }
}

.business-rates__button {
  width: 270px;
  padding: 21px 0 20px;
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
  background: global.$basic-grey-3;
  display: flex;
  justify-content: center;
  text-decoration: none;

  @media (min-width: global.$tablet-width) {
    width: 688px;
    padding: 40px 0 45px;
  }

  @media (min-width: global.$desktop-width) {
    width: 750px;
  }
}

.business-rates__button-text {
  text-transform: uppercase;
  font-family: global.$bold;
  font-size: 16px;
  font-style: normal;
  color: global.$basic-blue-2;

  @media (min-width: global.$tablet-width) {
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
  }
}
