@use '../global.scss';

.header-other {
  position: relative;
  z-index: 10;
  width: 320px;
  margin: 0 auto;
  padding: 20px 0 12px 0;
  border-radius: 0 0 18px 18px;
  background: global.$special-blue;

  // @media (min-width: global.$tablet-width) {
  //   width: global.$tablet-width;
  //   padding: 42px 0 64px 0;
  //   border-radius: 0 0 58px 58px;
  // }

  // @media (min-width: global.$desktop-width) {
  //   width: global.$desktop-width;
  //   padding: 46px 0 0 0;
  // }
}

.header-other__container {
  width: 268px;
  margin: 0 auto;

  // @media (min-width: global.$tablet-width) {
  //   width: 688px;
  // }

  // @media (min-width: global.$desktop-width) {
  //   width: 1320px;
  // }
}

.header-other__nav-container {
  width: 268px;
  margin: 0 auto 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // @media (min-width: global.$tablet-width) {
  //   width: 688px;
  //   margin: 0 auto 125px;
  // }

  // @media (min-width: global.$desktop-width) {
  //   width: 1320px;
  //   margin: 0 auto 56px;
  //   justify-content: flex-start;
  // }
}

.header-other__mobile-logo {
  // @media (min-width: global.$tablet-width) {
  //   display: none;
  // }
}

.header-other__tablet-logo {
  display: none;

  // @media (min-width: global.$tablet-width) {
  //   display: block;
  //   width: 166px;
  //   height: 42px;
  // }

  // @media (min-width: global.$desktop-width) {
  //   display: none;
  // }
}

.header__other-desktop-logo {
  display: none;

  // @media (min-width: global.$desktop-width) {
  //   display: block;
  // }
}

.header-other__site-nav-list {
  display: none;

  // @media (min-width: global.$desktop-width) {
  //   position: relative;
  //   display: flex;
  //   justify-content: space-between;
  //   margin: 5px 0 0 145px;
  //   width: 390px;
  // }
}

.header-other__site-nav-list::before {
  // @media (min-width: global.$desktop-width) {
  //   position: absolute;
  //   content: '';
  //   width: 60px;
  //   height: 2px;
  //   background: global.$basic-white;
  //   top: calc(50% - 1px);
  //   left: -105px;
  // }
}

.header-other__site-nav-item + .header__site-nav-item {
  // @media (min-width: global.$desktop-width) {
  //   margin-left: 34px;
  // }
}

.header-other__site-nav-link {
  // @media (min-width: global.$desktop-width) {
  //   color: global.$basic-white;
  //   font-family: global.$medium;
  //   font-style: normal;
  //   font-size: 20px;
  //   text-decoration: none;
  //   text-transform: uppercase;
  // }
}

.header-other__open-button {
  // @media (min-width: global.$desktop-width) {
  //   display: none;
  // }
}

.header-other__title-content-container {
  // @media (min-width: global.$desktop-width) {
  //   width: 1320px;
  //   margin: 0 auto;
  //   padding: 0 94px 0 30px;
  //   box-sizing: border-box;
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: flex;
  // }
}

.header-other__title {
  position: relative;
  font-family: global.$bold;
  font-style: normal;
  font-size: 36px;
  color: global.$basic-white;
  margin: 0;
  padding: 0;

  // @media (min-width: global.$tablet-width) {
  //   font-size: 60px;
  //   margin: 0 0 0 35px;
  // }

  // @media (min-width: global.$desktop-width) {
  //   margin: 59px 0 0 33px;
  // }
}

.header-other__title::after {
  position: absolute;
  content: '';
  width: 214px;
  height: 5px;
  border-radius: 3px;
  top: 52px;
  left: 0;
  background: global.$special-orange;

  // @media (min-width: global.$tablet-width) {
  //   width: 358px;
  //   height: 8px;
  //   top: 131px;
  // }

  // @media (min-width: global.$desktop-width) {
  //   top: 133px;
  // }
}

.header-other__nav-menu-list {
  display: none;

  // @media (min-width: global.$tablet-width) {
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: center;
  //   width: 288px;
  //   margin-left: auto;
  // }
}

.header-other__nav-menu-item--phone {
  display: none;

  // @media (min-width: global.$desktop-width) {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   border-radius: 50%;
  //   width: 50px;
  //   height: 50px;
  //   background: global.$special-orange;
  // }
}

.header-other__nav-icon--phone {
  // @media (min-width: global.$desktop-width) {
  //   margin-right: 3px;
  //   margin-top: 2px;
  // }
}

.header-other__nav-menu-item--email {
  display: none;

  // @media (min-width: global.$desktop-width) {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   border-radius: 50%;
  //   width: 50px;
  //   height: 50px;
  //   background: global.$special-dark-yellow;
  // }
}

.header-other__nav-menu-item--authorization {
  display: none;

  // @media (min-width: global.$tablet-width) {
  //   display: block;
  // }
}

.header-other__nav-menu-link--authorization {
  // @media (min-width: global.$tablet-width) {
  //   width: 188px;
  //   padding: 12px 0;
  //   box-sizing: border-box;
  //   display: flex;
  //   justify-content: center;
  //   border-radius: 25px;
  //   text-decoration: none;
  //   text-transform: uppercase;
  //   font-family: global.$bold;
  //   font-style: normal;
  //   font-size: 20px;
  //   color: global.$basic-blue;
  //   background: global.$basic-yellow;
  // }
}

.header-other__level-circle-container {
  display: none;

  // @media (min-width: global.$desktop-width) {
  //   display: block;
  //   position: relative;
  //   width: 95px;
  //   height: 95px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   border-radius: 50%;
  //   margin-top: 52px;
  //   margin-left: 477px;
  // }
}

.header-other__circle-text-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header-other__static-circle {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.header-other__circle-track {
  fill: none;
  stroke: none;
  stroke-width: 8;
}

.header-other__circle-partial-border {
  fill: none;
  stroke: global.$special-orange;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-dasharray: 282.74;
}

.header-other__circle-partial-border--99 {
  /* Для 95% заполнения: 282.74 * (1 - 0.95) = 282.74 * 0.05 = 14.137 */
  stroke-dashoffset: 14.137;
}

.header-other__circle-partial-border--80 {
  /* Для 80% заполнения: 282.74 * (1 - 0.80) = 282.74 * 0.20 = 56.548 */
  stroke-dashoffset: 56.548;
}

.header-other__circle-label {
  display: inline-block;
  width: 50px;
  text-align: center;
  font-size: 38px;
  font-family: global.$bold;
  color: global.$basic-white;
  border-bottom: 1px solid global.$basic-white-transparent-1;
}

.header-other__circle-level-text {
  display: inline-block;
  font-size: 18px;
  font-family: global.$blogger-sans;
  color: global.$basic-white;
}

.header-other__user-img-container {
  display: none;

  // @media (min-width: global.$desktop-width) {
  //   display: block;
  //   margin-top: 6px;
  //   margin-left: 42px;
  // }
}

.header-other__user-img-container {
  display: none;
  // @media (min-width: global.$desktop-width) {
  //   display: block;
  //   width: 190px;
  //   height: 190px;
  // }
}
