@use '../global.scss';

.header-scroll-menu {
  width: global.$mobile-width;
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  width: global.$mobile-width;
  margin: 0 auto;
  padding: 25px 0 29px;
  background: global.$basic-white;

  @media (min-width: global.$tablet-width) {
    width: global.$tablet-width;
    padding: 40px 0 43px;
  }
}

.header-scroll-menu__container {
  width: 270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: global.$tablet-width) {
    width: 688px;
  }
}

.header-scroll-menu__mobile-logo-icon {
  @media (min-width: global.$tablet-width) {
    display: none;
  }
}

.header-scroll-menu__tablet-logo {
  display: none;

  @media (min-width: global.$tablet-width) {
    display: block;
  }
}

.header-scroll-menu__auth-button {
  display: none;

  @media (min-width: global.$tablet-width) {
    width: 188px;
    display: flex;
    justify-content: center;
    padding: 13px 0;
    box-sizing: border-box;
    background: global.$basic-yellow;
    border-radius: 25px;
    text-decoration: none;
  }
}

.header-scroll-menu__auth-text {
  @media (min-width: global.$tablet-width) {
    font-family: global.$bold;
    text-transform: uppercase;
    font-size: 20px;
    font-style: normal;
    color: global.$basic-blue;
  }
}
