@use '../global.scss';

.header {
  position: relative;
  width: global.$mobile-width;
  margin: 0 auto;
  padding: 19px 0 27px;
  background: linear-gradient(
      to bottom,
      transparent 0,
      transparent 477px,
      global.$basic-blue 477px,
      global.$basic-blue 100%
    ),
    url(../../assets/img/mobile-traveller-bg.png) 80px 222px no-repeat,
    url(../../assets/img/mobile-globe-bg.png) 0 0 no-repeat;

  @media (min-width: global.$tablet-width) {
    width: global.$tablet-width;
    padding: 15px 0 212px;
    background: url(../../assets/img/tablet-traveller-bg.png) 285px 404px
        no-repeat,
      url(../../assets/img/tablet-globe-bg.png) 0 382px no-repeat,
      global.$special-blue;
  }

  @media (min-width: global.$desktop-width) {
    width: 1440px;
    padding: 21px 0 0;
    background: url(../../assets/img/desktop-traveller-bg.png) 605px 110px
        no-repeat,
      linear-gradient(
        to bottom,
        transparent 0,
        transparent 700px,
        global.$special-blue 700px,
        global.$special-blue 749px,
        global.$basic-white 749px,
        global.$basic-white 100%
      ),
      url(../../assets/img/desktop-globe-bg.png) 0 0 no-repeat;
  }
}

.header__container {
  width: 270px;
  margin: 0 auto;

  @media (min-width: global.$tablet-width) {
    width: 688px;
    padding: 26px 0 0 0;
    display: grid;
    grid-template-rows: 117px 296px 397px;
    grid-template-columns: 332px 168px 188px;
  }

  @media (min-width: global.$desktop-width) {
    width: 1320px;
    grid-template-rows: 172px 299px 230px 90px;
    grid-template-columns: 240px 792px 288px;
  }
}

.header__nav-container {
  width: 270px;
  margin: 0 auto 53px;
  display: flex;
  justify-content: space-between;

  @media (min-width: global.$tablet-width) {
    width: 688px;
    grid-row: 1/2;
    grid-column: 1/3;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @media (min-width: global.$desktop-width) {
    justify-content: flex-start;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/3;
    width: 755px;
    margin: 0;
    align-self: self-start;
  }
}

.header__logo-link:hover,
.header__bottom-logo-link:hover {
  opacity: 0.7;
}

.header__logo-link:active,
.header__bottom-logo-link:active {
  opacity: 0.3;
}

.header__logo-link svg {
  @media (min-width: global.$tablet-width) {
    display: none;
  }
}

.header__tablet-logo {
  display: none;

  @media (min-width: global.$tablet-width) {
    display: block;
    margin-top: 4px;
  }

  @media (min-width: global.$desktop-width) {
    display: none;
  }
}

.header__desktop-logo {
  display: none;

  @media (min-width: global.$desktop-width) {
    display: block;
  }
}

.header__site-nav-list {
  display: none;

  @media (min-width: global.$desktop-width) {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin: 5px 0 0 145px;
  }
}

.header__site-nav-list::before {
  @media (min-width: global.$desktop-width) {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    background: global.$basic-white;
    top: calc(50% - 1px);
    left: -105px;
  }
}

.header__site-nav-item + .header__site-nav-item {
  @media (min-width: global.$desktop-width) {
    margin-left: 34px;
  }
}

.header__site-nav-link {
  @media (min-width: global.$desktop-width) {
    color: global.$basic-white;
    font-family: global.$medium;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.header__site-nav-link:hover,
.header__bottom-site-nav-link:hover {
  color: global.$basic-yellow;
}

.header__site-nav-link:active,
.header__bottom-site-nav-link:active {
  color: global.$basic-yellow;
  opacity: 0.2;
}

.header__nav-menu-open-button {
  @media (min-width: global.$tablet-width) {
    margin: 17px 0 0 166px;
  }

  @media (min-width: global.$desktop-width) {
    display: none;
  }
}

.header__nav-menu-auth-button {
  display: none;

  @media (min-width: global.$tablet-width) {
    margin-left: 143px;
    display: block;
    background: global.$basic-yellow;
    width: 188px;
    padding: 13px 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    text-decoration: none;
  }

  // @media (min-width: global.$desktop-width) {
  //   display: none;
  // }
}

.header__nav-menu-auth-text {
  display: inline-block;
  text-transform: uppercase;
  color: global.$basic-blue;
  font-family: global.$bold;
  font-style: normal;
  font-size: 20px;
}

.header__title {
  margin: 0 auto 246px;
  width: 238px;
  color: global.$basic-white;
  font-family: global.$bold;
  font-size: 36px;
  font-style: normal;
  line-height: 40px;
  text-align: center;

  @media (min-width: global.$tablet-width) {
    width: 399px;
    font-size: 60px;
    line-height: 70px;
    // margin-bottom: 86px;
    margin-left: 146px;
    grid-row: 2/3;
    grid-column: 1/3;
  }

  @media (min-width: global.$desktop-width) {
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: left;
    align-self: self-start;
    margin: -12px 0 0 69px;
  }
}

.header__quote-container {
  display: none;

  @media (min-width: global.$tablet-width) {
    display: block;
    width: 264px;
    grid-row: 3/4;
    grid-column: 1/2;
    margin: 0 0 0 8px;
    padding: 0;
  }

  @media (min-width: global.$desktop-width) {
    grid-row: 2/3;
    grid-column: 3/4;
    margin: 0;
    align-self: self-start;
    justify-self: self-start;
  }
}

.header__quote {
  @media (min-width: global.$tablet-width) {
    margin-bottom: 47px;
    padding: 0;
    display: block;
  }
}

.header__quote-text {
  @media (min-width: global.$tablet-width) {
    font-size: 28px;
    line-height: 33px;
    width: 264px;
    color: global.$basic-white;
    font-family: global.$light;
    font-style: normal;
    margin: 0 0 0 25px;
    padding: 0;
    display: block;
  }

  @media (min-width: global.$desktop-width) {
    margin: 0;
  }
}

.header__quote-author {
  @media (min-width: global.$tablet-width) {
    margin: 0 0 0 25px;
    padding: 0;
  }

  @media (min-width: global.$desktop-width) {
    margin: 0;
  }
}

.header__quote-author-name {
  @media (min-width: global.$tablet-width) {
    margin: 0;
    padding: 0;
    width: 264px;
    color: global.$basic-white;
    font-family: global.$bold;
    font-style: normal;
    font-size: 21px;
    line-height: 25px;
  }
}

.quote__br-tablet {
  display: none;

  @media (min-width: global.$tablet-width) {
    display: block;
  }
}

.header__nav-list {
  width: 270px;
  display: flex;
  justify-content: flex-start;

  @media (min-width: global.$tablet-width) {
    display: block;
  }

  @media (min-width: global.$desktop-width) {
    display: flex;
    grid-row: 1/2;
    grid-column: 3/4;
  }
}

.header__nav-link {
  text-decoration: none;
}

.header__nav-link--phone {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: global.$special-orange;

  @media (min-width: global.$tablet-width) {
    display: none;
  }

  @media (min-width: global.$desktop-width) {
    width: 50px;
    height: 50px;
    display: flex;
  }
}

.header__nav-link--phone:hover,
.header__bottom-nav-link--phone:hover {
  background: global.$special-dark-orange;
}

.header__nav-link--phone:active,
.header__bottom-nav-link--phone:active {
  background: global.$special-dark-orange;
}

.header__nav-link:active svg,
.header__bottom-nav-link:active svg {
  opacity: 0.3;
}

.header__nav-link:active span,
.header__bottom-nav-link:active span {
  opacity: 0.3;
}

.header__nav-link--email {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: global.$special-dark-yellow;

  @media (min-width: global.$tablet-width) {
    display: none;
  }

  @media (min-width: global.$desktop-width) {
    width: 50px;
    height: 50px;
    display: flex;
  }
}

.header__nav-link--email:hover,
.header__bottom-nav-link--email:hover {
  background: global.$special-orange;
}

.header__nav-link--email:active,
.header__bottom-nav-link--email:active {
  background: global.$special-orange;
}

.header__nav-link--authorization {
  background: global.$basic-yellow;
  width: 190px;
  padding: 9px 0;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: global.$tablet-width) {
    width: 188px;
    padding: 12px 0 13px;
    align-self: self-start;
  }

  // @media (min-width: global.$desktop-width) {
  //   height: fit-content;
  //   padding: 13px 0;
  // }
}

.header__nav-link--authorization:hover,
.header__bottom-nav-link--authorization:hover {
  background: global.$special-dark-yellow;
}

.header__nav-link-auth-text {
  display: inline-block;
  text-transform: uppercase;
  color: global.$basic-blue;
  font-family: global.$bold;
  font-style: normal;
  font-size: 17px;

  @media (min-width: global.$tablet-width) {
    font-size: 20px;
  }

  // @media (min-width: global.$desktop-width) {
  //   font-size: 20px;
  // }
}

.header__nav-link-phone-icon path,
.header__nav-link-email-icon path {
  fill: global.$basic-blue;
}

.header__bottom-nav-container {
  display: none;

  @media (min-width: global.$desktop-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: global.$basic-white;
    grid-row: 4/5;
    grid-column: 1/4;
    width: 1320px;
  }
}

.header__bottom-site-nav-list {
  @media (min-width: global.$desktop-width) {
    position: relative;
    display: flex;
    justify-content: flex-start;
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 5px 0 0 145px;
  }
}

.header__bottom-site-nav-list::before {
  @media (min-width: global.$desktop-width) {
    position: absolute;
    content: '';
    width: 44px;
    height: 2px;
    background: global.$basic-dark-blue;
    top: calc(50% - 1px);
    left: -90px;
  }
}

.header__bottom-site-nav-item + .header__bottom-site-nav-item {
  @media (min-width: global.$desktop-width) {
    margin-left: 35px;
  }
}

.header__bottom-site-nav-link {
  @media (min-width: global.$desktop-width) {
    color: global.$basic-dark-blue;
    font-family: global.$medium;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.header__bottom-nav-list {
  display: none;

  @media (min-width: global.$desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 294px;
  }
}

.header__bottom-nav-link {
  text-decoration: none;
}

.header__bottom-nav-link--phone {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: global.$special-orange;

  @media (min-width: global.$desktop-width) {
    width: 50px;
    height: 50px;
  }
}

.header__bottom-nav-link--email {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: global.$special-dark-yellow;

  @media (min-width: global.$desktop-width) {
    width: 50px;
    height: 50px;
  }
}

.header__bottom-nav-link--authorization {
  @media (min-width: global.$desktop-width) {
    height: fit-content;
    padding: 13px 0;
    background: global.$basic-yellow;
    width: 188px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header__bottom-nav-link-auth-text {
  display: inline-block;
  text-transform: uppercase;
  color: global.$basic-blue;
  font-family: global.$bold;
  font-style: normal;
  font-size: 17px;

  @media (min-width: global.$desktop-width) {
    font-size: 20px;
  }
}

.header__bottom-nav-link-phone-icon path,
.header__bottom-nav-link-email-icon path {
  fill: global.$basic-blue;
}
