@use '../global.scss';

.main {
  width: global.$mobile-width;
  margin: 0 auto;

  @media (min-width: global.$tablet-width) {
    width: global.$tablet-width;
  }

  // @media (min-width: global.$desktop-width) {
  //   width: global.$desktop-width;
  // }
}
