@use '../global.scss';

.map {
  position: relative;
  z-index: 4;
  margin: -53px auto 0;
  width: global.$mobile-width;
  height: 424px;
  background: url(../../assets/img/mobile-map-bg.jpg) 0 0 no-repeat;

  @media (min-width: global.$tablet-width) {
    width: global.$tablet-width;
    margin: -47px auto 0;
    height: 581px;
    background: url(../../assets/img/tablet-map-bg.jpg) 0 0 no-repeat;
  }

  @media (min-width: global.$desktop-width) {
    width: global.$desktop-width;
    height: 584px;
    margin: -140px auto 0;
    background: url(../../assets/img/desktop-map-bg.jpg) 0 0 no-repeat;
  }
}

.map::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  top: 149px;
  left: 158px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 11px solid global.$basic-white;
  background: global.$special-blue;

  @media (min-width: global.$tablet-width) {
    width: 55px;
    height: 55px;
    top: 230px;
    left: 346px;
    border: 15px solid global.$basic-white;
  }

  @media (min-width: global.$desktop-width) {
    top: 236px;
    left: 635px;
  }
}
