@use '../global.scss';

.routes-form {
  position: relative;
  z-index: 11;
  width: global.$mobile-width;
  margin: -32px auto 67px;
  padding: 48px 0 85px 0;
  border-radius: 32px 32px 0 0;
  background: global.$add-plan-blue-bg;
  box-sizing: border-box;

  @media (min-width: global.$tablet-width) {
    width: 768px;
    margin: -74px auto 0;
    padding: 48px 0 133px 0;
  }

  @media (min-width: global.$desktop-width) {
    margin: -86px auto 0;
    padding: 50px 0 97px 0;
    width: global.$desktop-width;
    border-radius: 58px 58px 0 0;
  }
}

.routes-form__container {
  width: 270px;
  margin: 0 auto;

  @media (min-width: global.$tablet-width) {
    width: 618px;
  }

  @media (min-width: global.$desktop-width) {
    width: 1320px;
  }
}

.routes-form__title-container {
  width: 270px;
  margin-bottom: 29px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: global.$tablet-width) {
    width: 618px;
    margin-bottom: 53px;
    justify-content: space-between;
  }

  @media (min-width: global.$desktop-width) {
    width: 1320px;
  }
}

.routes-form__title {
  margin: 0;
  padding: 0;
  font-family: global.$bold;
  font-style: normal;
  font-size: 24px;
  color: global.$basic-blue-2;

  @media (min-width: global.$tablet-width) {
    margin-left: 70px;
    font-size: 36px;
  }
}

.routes-form__dots-list {
  width: 47px;
  display: flex;
  justify-content: space-between;
  margin-left: 37px;

  @media (min-width: global.$tablet-width) {
    width: 76px;
  }

  @media (min-width: global.$desktop-width) {
    display: none;
  }
}

.routes-form__dots-item {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: global.$basic-blue-2-transparent-2;

  @media (min-width: global.$tablet-width) {
    width: 6px;
    height: 6px;
  }
}

.routes-form__dots-item--active {
  background: global.$basic-blue-2;
}

.routes-form__buttons-container {
  @media (min-width: global.$tablet-width) {
    order: 12;
    width: 534px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.routes-form__submit-button {
  width: 230px;
  padding: 10px;
  margin-bottom: 14px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  background: global.$basic-yellow;
  box-sizing: border-box;
  text-decoration: none;
  border: none;

  @media (min-width: global.$tablet-width) {
    order: 1;
    width: 286px;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px 26px;
  }
}

.routes-form__submit-button-icon {
  display: none;

  @media (min-width: global.$tablet-width) {
    display: block;
    margin-top: 2px;
  }
}

.routes-form__submit-button-text {
  font-family: global.$bold;
  font-style: normal;
  font-size: 17px;
  color: global.$basic-blue-2;
  text-transform: uppercase;

  @media (min-width: global.$tablet-width) {
    font-size: 24px;
    text-transform: capitalize;
  }
}

.routes-form__prev-step-button-submit {
  @media (min-width: global.$tablet-width) {
    order: 2;
    margin-top: -6px;
  }
}
