doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Погнали
  body.page
    include ./blocks/index/_header.pug
    
    main.main
      include ./blocks/index/_about.pug
      include ./blocks/index/_routes.pug
      include ./blocks/index/_users.pug
      include ./blocks/index/_offers.pug
      include ./blocks/index/_account.pug
      include ./blocks/index/_address.pug
      include ./blocks/index/_map.pug
      
    include ./blocks/_footer.pug
        