doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Погнали
  body.page
  
    include ./blocks/routes/_header-routes.pug
    
    main.main 
      include ./blocks/routes/_user-section.pug
      include ./blocks/routes/_plans.pug
      include ./blocks/routes/_routes-form.pug
      
    include ./blocks/_footer.pug