@use '../../global.scss';

blockquote {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.about {
  position: relative;
  z-index: 10;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 83px;
  border-radius: 0 0 30px 30px;
  background: url(../../assets/img/mobile-about-bg.png) 20px 520px no-repeat,
    linear-gradient(
      to bottom,
      global.$basic-blue 0,
      global.$basic-blue 10%,
      global.$special-blue 20%,
      global.$special-blue 100%
    );

  @media (min-width: global.$tablet-width) {
    width: global.$tablet-width;
    margin: -208px auto 0;
    padding-bottom: 89px;
    border-radius: 0 0 58px 58px;
    background: url(../../assets/img/tablet-about-bg.png) 384px 425px no-repeat,
      url(../../assets/img/tablet-about-bg-2.png) 42px 377px no-repeat,
      linear-gradient(
        to bottom,
        global.$special-blue 0,
        global.$special-blue 376px,
        global.$special-blue 376px,
        global.$special-blue 100%
      );
  }

  @media (min-width: global.$desktop-width) {
    width: global.$desktop-width;
    background: url(../../assets/img/desktop-about-bg-1.png) 750px -4px no-repeat,
      url(../../assets/img/desktop-about-bg-2.png) 58px -22px no-repeat,
      global.$special-blue;
    margin: 0 auto;
    padding: 40px 0 163px;
  }
}

.about__container {
  width: 270px;
  margin: 0 auto;

  @media (min-width: global.$tablet-width) {
    width: 688px;
  }

  @media (min-width: global.$desktop-width) {
    width: 1180px;
    position: relative;
  }
}

.about__quote-container {
  @media (min-width: global.$tablet-width) {
    display: none;
  }
}

.about__quote-container,
.about__quote {
  margin: 0 0 30px 0;
  padding: 0;
}

.about__quote {
  margin: 0 0 18px 0;
  padding: 0;
}

.about__quote-text {
  width: 154px;
  color: global.$basic-white;
  font-family: global.$light;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 0 25px;
  padding: 0;
}

.about__quote-author {
  margin: 0 0 0 25px;
  padding: 0;
}

.about__quote-author-name {
  margin: 0;
  padding: 0;
  width: 161px;
  color: global.$basic-white;
  font-family: global.$bold;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
}

.about__activities-list {
  margin-bottom: 68px;

  @media (min-width: global.$tablet-width) {
    width: 688px;
    display: grid;
    grid-template-rows: 152px 128px;
    grid-template-columns: 50% 50%;
    margin-bottom: 133px;
  }

  @media (min-width: global.$desktop-width) {
    position: absolute;
    top: -359px;
    left: -70px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1320px;
  }
}

.about__activity-item:not(.about__activity-item:last-child) {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 20px 35px 25px;
  box-sizing: border-box;

  @media (min-width: global.$tablet-width) {
    padding: 29px 0 0 33px;
    display: block;
  }

  @media (min-width: global.$desktop-width) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.about__activity-item:last-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 20px 23px 25px;
  box-sizing: border-box;

  @media (min-width: global.$tablet-width) {
    padding: 29px 0 0 32px;
    display: block;
  }

  @media (min-width: global.$desktop-width) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.about__activity-item + .about__activity-item {
  @media (min-width: global.$desktop-width) {
    margin-left: -41px;
  }
}

.about__activity-text {
  line-height: 18px;

  @media (min-width: global.$desktop-width) {
    width: 200px;
  }
}

.about__activity-item--route {
  background: global.$special-orange;
  border-radius: 10px 10px 0 0;
  padding: 20px 20px 42px 25px !important;

  @media (min-width: global.$tablet-width) {
    width: 365px;
    grid-row: 1/2;
    grid-column: 1/3;
    border-radius: 20px 0px 0 0;
  }

  @media (min-width: global.$desktop-width) {
    border-radius: 20px 0 0 20px;
    width: 385px;
    padding: 27px 0 22px 34px !important;
    box-sizing: border-box;
  }
}

.about__activity-text--route {
  display: inline-block;
  width: 106px;
  font-family: global.$bold;
  font-style: normal;
  font-size: 18px;
  color: global.$basic-blue;

  @media (min-width: global.$tablet-width) {
    font-size: 24px;
    line-height: 24px;
    width: 144px;
    display: block;
    margin-bottom: 10px;
  }

  @media (min-width: global.$desktop-width) {
    display: inline-block;
  }
}

.about__activity-item--ideas {
  margin-top: -18px;
  background: global.$special-light-orange;
  border-radius: 10px 10px 0 0;

  @media (min-width: global.$tablet-width) {
    width: 344px;
    grid-row: 1/2;
    grid-column: 2/3;
    margin-top: 0;
  }

  @media (min-width: global.$desktop-width) {
    border-radius: 20px 0 0 20px;
    width: 375px;
    padding: 27px 0 22px 34px !important;
    box-sizing: border-box;
  }
}

.about__activity-text--ideas {
  display: inline-block;
  width: 150px;
  font-family: global.$bold;
  font-style: normal;
  font-size: 18px;
  color: global.$basic-blue;

  @media (min-width: global.$tablet-width) {
    font-size: 24px;
    line-height: 24px;
    width: 211px;
    display: block;
    margin-bottom: 10px;
  }

  @media (min-width: global.$desktop-width) {
    display: inline-block;
  }
}

.about__activity-item--similar {
  margin-top: -11px;
  background: global.$special-dark-yellow;
  border-radius: 10px 10px 0 0;

  @media (min-width: global.$tablet-width) {
    width: 365px;
    grid-row: 2/3;
    grid-column: 1/3;
    border-radius: 0 0 0 20px;
  }

  @media (min-width: global.$desktop-width) {
    border-radius: 20px 0 0 20px;
    margin-top: 0;
    padding: 27px 0 22px 34px !important;
    box-sizing: border-box;
  }
}

.about__activity-text--similar {
  display: inline-block;
  width: 138px;
  font-family: global.$bold;
  font-style: normal;
  font-size: 18px;
  color: global.$basic-blue;

  @media (min-width: global.$tablet-width) {
    font-size: 24px;
    line-height: 24px;
    width: 194px;
    display: block;
    margin-bottom: 10px;
  }

  @media (min-width: global.$desktop-width) {
    display: inline-block;
  }
}

.about__activity-item--together {
  margin-top: -11px;
  background: global.$basic-yellow;
  border-radius: 10px 10px 10px 10px;

  @media (min-width: global.$tablet-width) {
    width: 344px;
    grid-row: 2/3;
    grid-column: 2/3;
    border-radius: 0 0 20px 20px;
  }

  @media (min-width: global.$desktop-width) {
    border-radius: 20px;
    margin-top: 0;
    padding: 27px 0 22px 34px !important;
    box-sizing: border-box;
  }
}

.about__activity-text--together {
  display: inline-block;
  width: 125px;
  font-family: global.$bold;
  font-style: normal;
  font-size: 18px;
  color: global.$basic-blue;

  @media (min-width: global.$tablet-width) {
    font-size: 24px;
    line-height: 24px;
    width: 171px;
    display: block;
    margin-bottom: 10px;
  }

  @media (min-width: global.$desktop-width) {
    display: inline-block;
  }
}

.about__activity-text {
  @media (min-width: global.$desktop-width) {
    width: 200px;
  }
}

.about__activity-number {
  display: inline-block;
  color: global.$basic-white;
  font-family: global.$bold;
  font-style: normal;
  font-size: 18px;

  @media (min-width: global.$tablet-width) {
    font-size: 29px;
    line-height: 29px;
    display: block;
    margin-left: 3px;
  }

  @media (min-width: global.$desktop-width) {
    display: inline-block;
    font-size: 24px;
    margin-left: 55px;
  }
}

.about__activity-br-tablet {
  display: none;

  @media (min-width: global.$tablet-width) {
    display: block;
  }
}

.about__title {
  margin: 0 0 19px 24px;
  padding: 0;
  font-family: global.$bold;
  font-size: 24px;
  font-style: normal;
  color: global.$special-orange;

  @media (min-width: global.$tablet-width) {
    font-size: 45px;
    line-height: 45px;
    margin: 0 0 41px 34px;
  }

  @media (min-width: global.$desktop-width) {
    margin: 0 0 60px 0;
  }
}

.about__description {
  margin: 0 0 19px 24px;
  padding: 0;
  font-family: global.$light;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  color: global.$basic-white;

  @media (min-width: global.$tablet-width) {
    font-size: 28px;
    line-height: 33px;
    width: 308px;
    margin: 0 0 32px 34px;
  }

  @media (min-width: global.$desktop-width) {
    width: 619px;
    margin: 0 0 40px 0;
  }
}

.about__description-extra {
  width: 222px;
  margin: 0 0 0 24px;
  padding: 0;
  font-family: global.$bold;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  color: global.$basic-white;

  @media (min-width: global.$tablet-width) {
    width: 265px;
    margin: 0 0 54px 34px;
    font-size: 21px;
    line-height: 25px;
  }

  @media (min-width: global.$desktop-width) {
    width: 425px;
    margin: 0 0 84px 0;
  }
}

.about__button {
  display: none;

  @media (min-width: global.$tablet-width) {
    margin: 0 0 0 34px;
    background: global.$basic-yellow;
    border-radius: 20px;
    width: 276px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 35px 29px 33px;
    text-decoration: none;
    box-sizing: border-box;
  }

  @media (min-width: global.$desktop-width) {
    margin: 0;
  }
}

.about__button:hover {
  background: global.$special-dark-yellow;
}

.about__button:active {
  background: global.$special-dark-yellow;
}

.about__button:active span,
.about__button:active svg {
  opacity: 0.3;
}

.about__button-icon {
  @media (min-width: global.$tablet-width) {
    margin-top: 5px;
  }
}

.about__button-text {
  @media (min-width: global.$tablet-width) {
    display: inline-block;
    color: global.$basic-blue-2;
    font-family: global.$bold;
    font-size: 24px;
    line-height: 24px;
    font-style: normal;
  }
}
