@use '../../global.scss';

.address {
  position: relative;
  z-index: 5;
  margin: -30px auto 0;
  padding: 61px 0 36px 0;
  border-radius: 0 0 30px 30px;
  width: global.$mobile-width;
  background: global.$basic-yellow;

  @media (min-width: global.$tablet-width) {
    width: global.$tablet-width;
    margin: -60px auto 0;
    padding: 108px 0 83px;
    border-radius: 0 0 58px 58px;
  }

  @media (min-width: global.$desktop-width) {
    width: global.$desktop-width;
    padding: 116px 0 55px;
  }
}

.address__container {
  width: 270px;
  margin: 0 auto;

  @media (min-width: global.$tablet-width) {
    width: 618px;
  }

  @media (min-width: global.$desktop-width) {
    width: 1174px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.address__inner-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 33px;

  @media (min-width: global.$tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: global.$desktop-width) {
    margin: 0 0 0 150px;
  }
}

.address__icon-container {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: global.$basic-dark-blue-2;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: global.$tablet-width) {
    width: 68px;
    height: 68px;
  }

  @media (min-width: global.$desktop-width) {
    width: 90px;
    height: 90px;
  }
}

.address__icon-container svg {
  @media (min-width: global.$tablet-width) {
    width: 32px;
    height: 32px;
  }

  @media (min-width: global.$desktop-width) {
    width: 42px;
    height: 42px;
  }
}

.address__text {
  margin: 0 0 0 16px;
  padding: 0;
  font-family: global.$bold;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: global.$basic-blue-2;
  text-transform: uppercase;

  @media (min-width: global.$tablet-width) {
    font-size: 28px;
    margin: 0 0 0 26px;
  }

  @media (min-width: global.$desktop-width) {
    margin: 0 0 0 31px;
  }
}

.address__text-br-mobile {
  @media (min-width: global.$tablet-width) {
    display: none;
  }
}

.address__button {
  background: transparent;
  border: 3px solid global.$basic-dark-blue-2;
  border-radius: 10px;
  width: 270px;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px 19px 19px;
  text-decoration: none;
  box-sizing: border-box;

  @media (min-width: global.$tablet-width) {
    border-radius: 20px;
    width: 618px;
    padding: 22px 32px 24px 34px;
    align-items: center;
  }

  @media (min-width: global.$desktop-width) {
    width: 324px;
  }
}

.address__button svg {
  margin-top: 5px;

  @media (min-width: global.$tablet-width) {
    width: 14px;
    height: 16px;
    margin: 0;
  }
}

.address__button-text {
  display: inline-block;
  color: global.$basic-blue-2;
  font-family: global.$bold;
  font-size: 18px;
  font-style: normal;

  @media (min-width: global.$tablet-width) {
    font-size: 24px;
  }
}

.address__button:hover {
  background: global.$basic-dark-blue-2;
}

.address__button:hover svg path {
  fill: global.$basic-white;
}

.address__button:hover .address__button-text {
  color: global.$basic-white;
}

.address__button:active svg path {
  fill: global.$basic-white;
  opacity: 0.3;
}

.address__button:active .address__button-text {
  color: global.$basic-white;
  opacity: 0.3;
}
