@use '../../global.scss';

.users {
  position: relative;
  z-index: 8;
  width: global.$mobile-width;
  margin: -30px auto 0;
  padding: 94px 0 31px 0;
  border-radius: 0 0 30px 30px;
  background: url(../../assets/img/mobile-users-bg-img-1.png) 150px 64px
      no-repeat,
    url(../../assets/img/mobile-users-bg-img-2.png) 0 336px no-repeat,
    global.$basic-dark-blue;

  @media (min-width: global.$tablet-width) {
    width: global.$tablet-width;
    background: url(../../assets/img/users-bg-1-tablet.png) 409px 140px
        no-repeat,
      url(../../assets/img/users-bg-2-tablet.png) 41px 486px no-repeat,
      url(../../assets/img/users-bg-3-tablet.png) 41px 135px no-repeat,
      global.$basic-dark-blue;
    margin: -60px auto 0;
    padding: 194px 0 88px;
    border-radius: 0 0 58px 58px;
  }

  @media (min-width: global.$desktop-width) {
    width: global.$desktop-width;
    padding: 185px 0 141px;
    margin: -63px auto 0;
    background: url(../../assets/img/users-bg-1-tablet.png) 191px 450px
        no-repeat,
      url(../../assets/img/users-bg-2-tablet.png) 547px 196px no-repeat,
      url(../../assets/img/users-bg-3-tablet.png) 61px 132px no-repeat,
      global.$basic-dark-blue;
  }
}

.users__container {
  width: 270px;
  margin: 0 auto;

  @media (min-width: global.$tablet-width) {
    width: 622px;
  }

  @media (min-width: global.$desktop-width) {
    width: 1320px;
    display: grid;
    grid-template-rows: 100px 174px 133px 80px;
    grid-template-columns: 52% 48%;
  }
}

.users__title {
  margin: 0 0 18px 25px;
  padding: 0;
  color: global.$special-orange;
  font-family: global.$bold;
  font-style: normal;
  font-size: 24px;

  @media (min-width: global.$tablet-width) {
    margin: 0 0 52px 0;
    font-size: 45px;
  }

  @media (min-width: global.$desktop-width) {
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 0 0 52px 70px;
  }
}

.users__description {
  width: 230px;
  margin: 0 0 21px 25px;
  padding: 0;
  font-family: global.$light;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: global.$basic-white;

  @media (min-width: global.$tablet-width) {
    margin: 0 0 40px 3px;
    font-size: 28px;
    line-height: 34px;
    width: 427px;
  }

  @media (min-width: global.$desktop-width) {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 4px 0 40px 70px;
  }
}

.users__description-extra {
  width: 217px;
  margin: 0 0 55px 25px;
  padding: 0;
  color: global.$basic-white;
  font-family: global.$bold;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;

  @media (min-width: global.$tablet-width) {
    font-size: 21px;
    line-height: 24px;
    width: 260px;
    margin: 0 0 60px 3px;
  }

  @media (min-width: global.$desktop-width) {
    grid-row: 3/4;
    grid-column: 1/2;
    margin: 4px 0 40px 70px;
  }
}

.users__description-br-tablet {
  display: none;

  @media (min-width: global.$tablet-width) {
    display: block;
  }
}

.users__list {
  margin-bottom: 19px;

  @media (min-width: global.$tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 81px;
  }

  @media (min-width: global.$desktop-width) {
    margin: 11px 0 0 3px;
  }
}

.users__item + .users__item {
  margin-top: 10px;

  @media (min-width: global.$tablet-width) {
    margin: 0;
  }
}

.users__item-container {
  position: relative;
  margin-top: -4px;
  padding: 23px 0 17px;
  background: global.$basic-white;
  border-radius: 0 0 10px 10px;
  width: 270px;

  @media (min-width: global.$tablet-width) {
    width: 285px;
    margin-top: -1px;
    padding: 27px 0 24px;
    border-radius: 0 0 20px 20px;
  }
}

.users__item-flags-list {
  width: 270px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -11px;

  @media (min-width: global.$tablet-width) {
    top: -12px;
  }
}

.users__item-flags-item + .users__item-flags-item {
  margin-left: 20px;
}

.users__item-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.users__item-username {
  margin: 0 0 13px 0;
  padding: 0;
  position: relative;
  color: global.$basic-blue-2;
  font-family: global.$bold;
  font-style: normal;
  font-size: 21px;
  text-decoration: none;

  @media (min-width: global.$tablet-width) {
    font-size: 24px;
    margin: 0 0 20px 0;
  }
}

.users__item-username:hover {
  opacity: 0.7;
}

.users__item-username:active {
  opacity: 0.3;
}

.users__item-username::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  top: 12px;
  left: -16px;
  border-radius: 50%;
  background: global.$basic-red;

  @media (min-width: global.$tablet-width) {
    width: 8px;
    height: 8px;
    left: -21px;
  }
}

.users__item-username--online::before {
  background: global.$basic-green;
}

.users__item-tags-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 188px;
  margin-bottom: 14px;

  @media (min-width: global.$tablet-width) {
    width: 223px;
    margin: 0 0 26px 0;
  }
}

.users__item-tag + .users__item-tag {
  margin-left: 5px;
}

.users__item-tag-link {
  text-decoration: none;
  font-family: global.$blogger-sans;
  font-style: normal;
  font-size: 16px;
  color: global.$special-grey;

  @media (min-width: global.$tablet-width) {
    font-size: 20px;
    line-height: 23px;
  }
}

.users__item-tag-link:hover {
  opacity: 0.7;
}

.users__item-tag-link:active {
  opacity: 0.3;
}

.users__item-transport-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.users__item-transport-item {
  position: relative;
}

.users__item-transport-item:hover .transport-tooltip {
  display: flex;
}

.users__item-transport-item + .users__item-transport-item {
  margin-left: 11px;
}

.users__item-transport-item:hover svg {
  opacity: 0.7;
}

.users__item-transport-item:active svg {
  opacity: 0.3;
}

.users__button {
  background: global.$basic-yellow;
  border-radius: 12px;
  width: 270px;
  display: flex;
  justify-content: space-between;
  padding: 20px 22px 20px 23px;
  text-decoration: none;
  box-sizing: border-box;

  @media (min-width: global.$tablet-width) {
    border-radius: 20px;
    align-items: center;
    width: 616px;
    margin: 0 auto;
    padding: 24px 35px 27px 30px;
  }

  @media (min-width: global.$desktop-width) {
    align-self: start;
    grid-row: 4/5;
    grid-column: 1/2;
    width: 280px;
    margin: 7px 0 0 70px;
    padding: 24px 35px 28px 30px;
  }
}

.users__button:hover {
  background: global.$special-dark-yellow;
}

.users__button:active {
  background: global.$special-dark-yellow;
}

.users__button:active span,
.users__button:active svg {
  opacity: 0.3;
}

.users__button svg {
  margin-top: 5px;

  @media (min-width: global.$tablet-width) {
    width: 14px;
    height: 16px;
    viewbox: '0 0 14 16';
    margin-top: 2px;
  }
}

.users__button-text {
  display: inline-block;
  color: global.$basic-blue-2;
  font-family: global.$bold;
  font-size: 18px;
  font-style: normal;

  @media (min-width: global.$tablet-width) {
    font-size: 24px;
  }
}

.users__item-img-container {
  position: relative;
  width: 270px;
  overflow: hidden;
  border-radius: 20px 20px 0 0;

  @media (min-width: global.$tablet-width) {
    width: 285px;
  }
}

.users__item-img-mobile {
  transition: transform 0.3s ease;

  @media (min-width: global.$tablet-width) {
    display: none;
  }
}

.users__item-img-tablet {
  transition: transform 0.3s ease;
}

.users__item-img-mobile:hover,
.users__item-img-tablet:hover {
  transform: scale(1.1);
  z-index: 3;
}

.users__item-img-tablet {
  display: none;

  @media (min-width: global.$tablet-width) {
    display: block;
  }
}

.users__level-circle-container {
  z-index: 2;
  position: absolute;
  top: 17px;
  left: 17px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: global.$basic-black-transparent-1;
  border-radius: 50%;

  @media (min-width: global.$tablet-width) {
    top: 21px;
    left: 23px;
  }
}

.users__circle-text-container {
  position: absolute;
  top: 7px;
  left: 17px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.users__static-circle {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.users__circle-track {
  fill: none;
  stroke: none;
  stroke-width: 8;
}

.users__circle-partial-border {
  fill: none;
  stroke: global.$special-orange;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-dasharray: 282.74;
}

.users__circle-partial-border--99 {
  /* Для 95% заполнения: 282.74 * (1 - 0.95) = 282.74 * 0.05 = 14.137 */
  stroke-dashoffset: 14.137;
}

.users__circle-partial-border--80 {
  /* Для 80% заполнения: 282.74 * (1 - 0.80) = 282.74 * 0.20 = 56.548 */
  stroke-dashoffset: 56.548;
}

.users__circle-label {
  display: inline-block;
  font-size: 24px;
  font-family: global.$bold;
  color: global.$basic-white;
  border-bottom: 1px solid global.$basic-white-transparent-1;
}

.users__circle-level-text {
  display: inline-block;
  font-size: 14px;
  font-family: global.$blogger-sans;
  color: global.$basic-white;
}
