.about  
    .about__container 
        figure.about__quote-container
            blockquote.about__quote
                p.about__quote-text
                    | «Лучшее приложение, что я видел в жизни!»
            figcaption.about__quote-author
                p.about__quote-author-name
                    | Мурат Эльтазин главный редактор газеты «гаджетлайф»
                    
                    
        ul.about__activities-list
            li.about__activity-item.about__activity-item--route
                span.about__activity-text.about__activity-text--route Выберите направление
                span.about__activity-number 1
            li.about__activity-item.about__activity-item--ideas
                span.about__activity-text.about__activity-text--ideas Изучите идеи путешественников
                span.about__activity-number 2
            li.about__activity-item.about__activity-item--similar
                span.about__activity-text.about__activity-text--similar Находите тех, <br class="about__activity-br-tablet"> кто похож на вас
                 
                span.about__activity-number 3
            li.about__activity-item.about__activity-item--together
                span.about__activity-text.about__activity-text--together Путешествуйте вместе! 
                span.about__activity-number 4
                
        h2.about__title О сервисе
        
        p.about__description Любое путешествие веселее с&nbsp;попутчиками, которые на&nbsp;одной
            | волне с&nbsp;тобой! Делитесь своими идеями путешествий
            | и&nbsp;черпайте вдохновение в&nbsp;чужих.
            
        p.about__description-extra А&nbsp;если найдете кого-то близкого по&nbsp;духу&nbsp;&mdash;
            |   скорее зовите в&nbsp;совместный трип!
            
        a.about__button(href="#")
            span.about__button-text Подробнее 
            include /pognali-template/src/assets/svg-icons/button-triangle-icon.svg     