section.account
    h2.visually-hidden Регистрация и авторизация    
    .account__container
        h2.account__title Заинтересовались?
        p.account__description Зарегистрируйтесь, <br class="account__description-br-mobile" /> это быстро и&nbsp;бесплатно!
            | <br class="account__description-br-tablet" />
            | <br class="account__description-br-mobile" />
            | Уже зарегистрированы? Тогда скорее <a class="account__auth-link" href="#">авторизуйтесь</a>
            
        form.account__form(action="#")
            label.visually-hidden(for="email-input")
            input.account__input(type="text", id="email-input", placeholder="E-mail")
            a.account__form-button(href="#")
                span.account__form-button-text Регистрация  
                include ../../../assets/svg-icons/button-triangle-icon.svg      
                
        p.account__questions Остались вопросы? <br class="account__questions-br-mobile" />
            | Мы с радостью на них ответим!   
            
        ul.account__contacts-list 
            li.account__contacts__item 
                a.account__contacts-link.account__contacts-link--phone(href="#")
                    .account__contacts-icon-container 
                        include ../../../assets/svg-icons/phone-icon.svg
                    span.account__contacts-text.account__contacts-text--phone 8 800 555-86-28
            li.account__contacts__item 
                a.account__contacts-link.account__contacts-link--email(href="#")
                    .account__contacts-icon-container 
                        include ../../../assets/svg-icons/email-icon.svg
                    span.account__contacts-text.account__contacts-text--email mail@htmlacademy.ru
                                         
            
