section.address 
    h2.visually-hidden Адрес
    .address__container
        .address__inner-container 
            .address__icon-container 
                include ../../../assets/svg-icons/address-icon.svg
             
            p.address__text ул. Большая <br class="address__text-br-mobile" /> Конюшенная, 19/8  
            
        a.address__button(href="#")
            span.address__button-text Проложить маршрут
            include ../../../assets/svg-icons/button-triangle-icon.svg  
