.business-rates.visually-hidden
    .business-rates__container
        h3.business-rates__title Бизнес-тарифы
        
        ul.business-rates__list     
            li.business-rates__item     
                p.business-rates__item-offer Реклама у блоггера
                p.business-rates__item-price 300 000 руб./пост
            
            li.business-rates__item     
                p.business-rates__item-offer Накрутка подписчиков
                p.business-rates__item-price от 1 руб./шт.
            
            li.business-rates__item     
                p.business-rates__item-offer Лайки от ботов
                p.business-rates__item-price от 20 коп./лайк
                
            li.business-rates__item     
                p.business-rates__item-offer Ваш продакт-плейсмент
                p.business-rates__item-price Индивидуально
    
    a.business-rates__button(href="#")
        span.business-rates__button-text Закрыть окно 