mixin urls(prefixHref, prefixImg, prefixImgFooter)
    .header-scroll-menu.visually-hidden
        .header-scroll-menu__container 
            a.header-scroll-menu__logo-link(href=prefixHref + "index.html")
                include ../../../assets/svg-icons/footer-logo-mobile.svg   
                img.header-scroll-menu__tablet-logo(src=prefixImg + "dark-logo-tablet.png", alt="Погнали")
                
            a.header-scroll-menu__open-button(href="#")
                include ../../../assets/svg-icons/hamburger-icon-scroll.svg