section.offers
    h2.visually-hidden Наши предложения
    .offers__container
        h2.offers__title Добавьте свой профиль
        
        ul.offers__list
            li.offers__item     
                span.offers__item-text Базовое размещение
                span.offers__item-price Бесплатно
                .offers__item-number-container.offers__item-number-container--1 
                    span.offers__item-number 1
                    
            li.offers__item     
                span.offers__item-text Вывод на первых позициях
                span.offers__item-price 99 руб./мес
                .offers__item-number-container.offers__item-number-container--2 
                    span.offers__item-number 2
                    
            li.offers__item     
                span.offers__item-text Кастомный цвет карточки
                span.offers__item-price 59 руб./мес
                .offers__item-number-container.offers__item-number-container--3 
                    span.offers__item-number 3
                    
        a.offers__button(href="#")
            .offers__button-icon-container 
                include ../../../assets/svg-icons/icon-businessman.svg  
            span.offers__button-text Показать тарифы для бизнеса
            
    include ./_business-rates.pug