section.routes 
    .routes__container 
        .routes__title Направления
        p.routes__description 
            | Мы&nbsp;не&nbsp;продаем туры и&nbsp;ничего не&nbsp;рекламируем. Люди
            | сами пишут о странах, куда хотели&nbsp;бы отправиться и&nbsp;чем
            | можно там заняться.
            
        ul.routes__list 
            li.routes__item 
                .routes__item-img-container 
                    img.routes__item-img-mobile(src="/pognali-template/assets/mobile-thailand-bg.png", alt="Таиланд фото")
                    img.routes__item-img-tablet(src="/pognali-template/assets/tablet-thailand-bg.png", alt="Таиланд фото")  
                .routes__item-container
                    img.routes__item-flag(src="/pognali-template/assets/thailand-flag-tablet.png", alt="Флаг Таиланда")
                    .routes__item-text-container 
                        h3.routes__item-country-title Таиланд
                        span.routes__item-text Джунгли зовут!
                        include ../../../assets/svg-icons/user-icon.svg
                        span.routes__item-users-count 18321
                        
            li.routes__item 
                .routes__item-img-container 
                    img.routes__item-img-mobile(src="/pognali-template/assets/mobile-france-bg.png", alt="Франция фото")
                    img.routes__item-img-tablet(src="/pognali-template/assets/tablet-france-bg.png", alt="Франция фото")  
                .routes__item-container
                    img.routes__item-flag(src="/pognali-template/assets/france-flag-tablet.png", alt="Флаг Франции")
                    .routes__item-text-container 
                        h3.routes__item-country-title Франция
                        span.routes__item-text Трэ бьен, манифик!
                        include ../../../assets/svg-icons/user-icon.svg
                        span.routes__item-users-count 12518
                        
            li.routes__item 
                .routes__item-img-container 
                    img.routes__item-img-mobile(src="/pognali-template/assets/mobile-czech-bg.png", alt="Чехия фото")
                    img.routes__item-img-tablet(src="/pognali-template/assets/tablet-czech-bg.png", alt="Чехия фото")  
                .routes__item-container
                    img.routes__item-flag(src="/pognali-template/assets/czech-flag-tablet.png", alt="Флаг Чехии")
                    .routes__item-text-container 
                        h3.routes__item-country-title Чехия
                        span.routes__item-text Закоулки <br class="routes__item-br-tablet" />старой Европы
                        include ../../../assets/svg-icons/user-icon.svg
                        span.routes__item-users-count 5326
                        
        .routes__gradient
        
        a.routes__button(href="#")
            span.routes__button-text Показать все
            include ../../../assets/svg-icons/button-triangle-icon.svg  