@use '../../global.scss';

.plans {
  position: relative;
  z-index: 10;
  width: 320px;
  margin: -38px auto 0;
  padding: 23px 0 60px;
  border-radius: 30px 30px 0 0;
  background: global.$special-blue-light;

  @media (min-width: global.$tablet-width) {
    width: global.$tablet-width;
    border-radius: 32px 32px 0 0;
    margin: -55px auto 0;
    padding: 50px 0 150px 0;
  }

  @media (min-width: global.$desktop-width) {
    width: global.$desktop-width;
    border-radius: 58px 58px 0 0;
  }
}

.plans__container {
  width: 270px;
  margin: 0 auto;

  @media (min-width: global.$tablet-width) {
    width: 618px;
  }

  @media (min-width: global.$desktop-width) {
    width: 1320px;
    padding-left: 124px;
  }
}

.plans__title {
  margin: 0 0 30px 0;
  padding: 0;
  font-family: global.$bold;
  font-size: 24px;
  font-style: normal;
  color: global.$basic-blue-2;

  @media (min-width: global.$tablet-width) {
    font-size: 36px;
    margin: 0 0 48px 0;
  }

  @media (min-width: global.$desktop-width) {
    margin-left: 6px;
  }
}

.plans__item {
  width: 270px;
  padding: 21px 23px 24px;
  box-sizing: border-box;
  border-radius: 12px;
  background: global.$basic-white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media (min-width: global.$tablet-width) {
    width: 618px;
    display: block;
    padding: 36px 0 14px;
  }

  @media (min-width: global.$desktop-width) {
    width: 1258px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    padding: 34px 0 16px 42px;
  }
}

.plans__item + .plans__item {
  margin-top: 9px;

  @media (min-width: global.$tablet-width) {
    margin-top: 11px;
  }

  @media (min-width: global.$desktop-width) {
    margin-top: 16px;
  }
}

.plans__item-country-title-container {
  width: 200px;
  display: flex;
  justify-content: flex-start;

  @media (min-width: global.$tablet-width) {
    width: 552px;
    padding: 0 32px 14px 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid global.$border-grey-transparent;
  }

  @media (min-width: global.$desktop-width) {
    border-bottom: none;
    padding: 0;
    width: 300px;
    justify-content: flex-start;
  }
}

.plans__item-country {
  margin: 0 0 19px 7px;
  padding: 0;
  font-family: global.$bold;
  font-style: normal;
  font-size: 16px;
  color: global.$basic-blue-2;

  @media (min-width: global.$tablet-width) {
    font-size: 24px;
    order: 1;
  }

  @media (min-width: global.$desktop-width) {
    order: 2;
    margin-left: 36px;
  }
}

.plans__item-country-number {
  margin: 0 0 19px 0;
  padding: 0;
  font-family: global.$bold;
  font-style: normal;
  font-size: 16px;
  color: global.$basic-blue-2;

  @media (min-width: global.$tablet-width) {
    font-size: 20px;
    order: 2;
  }

  @media (min-width: global.$desktop-width) {
    order: 1;
  }
}

.plans__item-details-container {
  @media (min-width: global.$tablet-width) {
    width: 550px;
    margin: 0 auto;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media (min-width: global.$desktop-width) {
    width: 585px;
    margin-left: 285px;
    padding-top: 0;
  }
}

.plans__item-mates,
.plans__item-dates {
  display: block;
  text-transform: uppercase;
  font-family: global.$medium;
  font-style: normal;
  font-size: 14px;
  color: global.$basic-blue-2;

  @media (min-width: global.$tablet-width) {
    font-size: 20px;
  }
}

.plans__item-mates {
  margin: 0 0 3px 4px;
  letter-spacing: 6%;

  @media (min-width: global.$tablet-width) {
    margin: 0;
    letter-spacing: 1.8px;
  }

  @media (min-width: global.$desktop-width) {
    margin-top: 4px;
    margin-left: 0;
    width: 150px;
  }
}

.plans__item-dates {
  margin: 0 0 21px 4px;
  letter-spacing: 6%;

  @media (min-width: global.$tablet-width) {
    margin: 0;
    letter-spacing: 1.8px;
  }

  @media (min-width: global.$desktop-width) {
    margin-top: 3px;
    margin-left: 25px;
    width: 200px;
  }
}

.plans__item-change-button {
  display: block;
  margin: 0 0 0 4px;
  text-transform: uppercase;
  font-family: global.$medium;
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  color: global.$basic-black-transparent-3;

  @media (min-width: global.$tablet-width) {
    // grid-row: 2/3;
    // grid-column: 3/4;
    font-size: 20px;
    // margin: 20px 0 0 0;
    margin: 0;
    letter-spacing: 1.8px;
  }

  @media (min-width: global.$desktop-width) {
    margin-top: 3px;
    margin-left: 108px;
  }
}
